[2013-04-16 13:47] keyboardsurfer opened #4 "Library is not available on maven central"
Please consider making the library available on maven central and / or adding a pom.xml file to the project.

[2013-04-17 08:39] keyboardsurfer opened #7 "License does not benefit contributions"
It's come to my attention that the current license of the adjust_android_sdk is not an Open Source license.
This is why I can not provide further improvements / modifications of the SDK until an appropriate license is being chosen for it.
I'm sorry, but until an open source license is being attributed from within the source code I'll also have to remove my pull requests.
I'll be gladly submitting

[2013-04-17 09:45] #7 closed, assigned to wellle

[2013-04-24 09:01] csobrinho opened #11 "NullPointerException in RequestTask"
If the _RequestTask_ fails for some reason the _AsyncTask_ returns null and _onPostExecute_ will call _Log.d_ with a null string throwing a _NullPointerException_.

A simple fix could be a check if the returned value is null or returning a non null string in _doBackground_.

The serious part is that the method runs inside a _AsyncTask_ so no try/catch can be performed and it will crash the applica

[2013-04-24 11:15] csobrinho opened #12 "I some 2.2/.3 devices the Http call returns SSLException: Not trusted server certificate"
[code]

[2013-04-26 13:14] #12 closed, assigned to elmacnifico

[2013-04-26 14:43] #4 closed, assigned to wellle

[2013-04-26 14:47] #11 closed, assigned to wellle

[2013-04-28 15:28] seppkurt opened #13 "android.permission ACCESS_WIFI_STATE vs. ACCESS_NETWORK_STATE"
Hi there,
 is there any difference in usage of the SDK for the two android.permissions ACCESS_WIFI_STATE  and ACCESS_NETWORK_STATE?
My running app for now has only the second one included. Do I need to ask for the first one too?

[2013-04-28 16:11] #13 closed, assigned to nobody

[2013-06-17 12:29] wellle opened #14 "Add Ant Support"
Include `build.xml` and `local.properties` to support ant builds as suggested by Sergio.

Ant build failure logs: https://gist.github.com/wellle/5796507

How to create the missing files:

    sergio:~/git/adeven_adjust_android_sdk$ android update project -p ~/git/adeven_adjust_android_sdk/AdjustIo
    Updated local.properties
    No project name specified, using project folder name 'AdjustIo'.

[2013-06-28 15:15] waxwings opened #15 "Failed to track session start. (AppId not found)"
I did what's in the instructions to integrate the lib in my App. A message appears in the Logcat
Failed to track session start. (AppId not found)

What's gone wrong and what should i do?

[2013-06-28 15:16] #15 closed, assigned to nobody

[2013-10-16 13:35] keyboardsurfer opened #20 "Lifecycle callbacks"
As a developer I want easy to use APIs.
Having to re-write code in every `Activity` lifecycle method is very redundant.
When I saw [this](https://github.com/adeven/adjust_android_sdk/blob/master/doc/migrate.md#additional-steps-if-you-come-from-v20x), the first thing that came to my mind was "Are you kidding me?"

A framework that offers session tracking should handle tracking of sessions on it's o

[2013-10-17 08:52] #20 closed, assigned to nobody

[2014-01-03 12:05] tasomaniac opened #29 "Already have a referrer receiver"
What if we already have a Receiver for referrer. Android apps cannot have multiple ReferrerReceivers? What to do in that case?

[2014-01-03 20:54] #29 closed, assigned to nobody

[2014-03-17 15:08] tasomaniac opened #38 "Documentation about trackEvent"
There should be place in the documentation of the behavior of the trackEvent in OnCreate() method.

[2014-04-29 11:01] bogdannistorbogdan opened #45 "Gradle build file improvements"
Hi guys, first of all, thanks for this awesome tracking solution.
Second, I am working on a project that currently based on Maven, so I wanted a clean solution to build Adjust into a jar and upload it to the local Maven repository. Thought this might help you and other users. Cheers.

[code]

[2014-06-06 10:51] WarrenFaith opened #51 "Typo in Readme.md"
In Topic 7, you have a small typo: orPause instead of onPause:

In your Activity's orPause method call Adjust.onPause. Create the method if needed.

[2014-06-10 13:23] #51 closed, assigned to nobody

[2014-06-17 01:25] dbachelder opened #53 "maven repo?"
Is this SDK deploying in a maven repo somewhere?

[2014-06-25 08:54] null1099 opened #54 "IllegalStateException at com.google.android.gms.ads.identifier.AdvertisingIdClient.getAdvertisingIdInfo()"
Updated yesterday to adjust_sdk-3.3.3 and integrated into our project as described in the README.

First run showed:

[code]

Next, I added e.printStackTrace() to com.adjust.sdk.Util.java after line 378 and got the following output:

[code]

This might be caused by not following Googles advice on calling advertising ID APIs, see https://developer.android.com/google/play-services/id.html

especiall

[2014-07-11 09:29] #54 closed, assigned to nobody

[2014-07-29 14:36] #53 closed, assigned to nonelse

[2014-09-08 07:40] T-Spoon opened #65 "Intstall Referrer & Mixpanel Tracking Integration"
Hi guys,

I was wondering if it's possible to retrieve the Adjust tracker upon install, without using the Adjust Events API?

Essentially we want to know where the install came from, and forward the data to Mixpanel.  It seems this is possible when an event is sent  - [Adjust Mixpanel Integration](https://github.com/adjust/android_sdk/blob/5c2673fc1ccd42fcfffccee01933a1011f138ffc/doc/mixpanel.md)

[2014-09-08 09:40] #65 closed, assigned to nobody

[2014-09-18 13:17] FGoetzAS24 opened #68 "Unable to get Google Play Services Advertising ID at start time"
In PRODUCTION mode the SDK does not receive the Google Play Services Advertising ID, so it is not possible to track a session.

09-18 14:24:06.304    3262-3317/? A/Adjust﹕ PRODUCTION: Adjust is running in Production mode. Use this setting only for the build that you want to publish. Set the environment to `sandbox` if you want to test your app!
09-18 14:24:06.324    3262-3317/? I/Adjust﹕ Unable to

[2014-09-18 15:23] #68 closed, assigned to nobody

[2014-10-07 09:24] WarrenFaith opened #72 "Adjust tracking event when push received while app not running"
I try to implement a tracking event that should be triggered when a push message is received.

When my push notification is received while an activity of my app is visible, everything works as expected. I see my own logcat message showing details about the tracking event and the message from Adjust stating the same: "I/Adjust﹕ Tracked revenue ...."

My problem appears when my app is closed and not

[2014-10-07 13:22] tobias- opened #73 "Upload latest adjust sdk to maven central"
Hello!

Latest Android SDK on Maven Central is still 3.5.0.

BR
/Tobias

[2014-10-08 09:18] WarrenFaith opened #74 "When is OnFinishedListener really called?"
I try to use the OnFinishedListener to get the TrackerName from the ResponseData.

I want to track it once with the app start so I thought I will try to set the listener after Adjust.onResume(activity) which is called in my splash screen onResume().
I was able to get it tracked once but I can't seem to make it work correctly on each app start.

I also tried to move it to the Application class. I c

[2014-10-08 10:58] #74 closed, assigned to nonelse

[2014-10-08 14:53] #72 closed, assigned to nonelse

[2014-10-08 15:14] #73 closed, assigned to nonelse

[2014-10-23 22:03] srini91 opened #77 "Update Android Studio documentation?"
We use Android Studio to build apps and the documentation to install Adjust SDK is out of date:
https://github.com/adjust/android_sdk/blob/master/doc/android_studio.md

The Google issue is fixed.

A couple of issues:

1) Can you guys update these docs to remove the workaround?  I believe more recent versions of Android Studio allow for importing modules.

2) Is there a way to use Adjust through th

[2014-10-24 10:55] polok opened #78 "Failed to track my event"
Hello,

I was struggling with this issue for a while and I decided to write to you guys because I don't know if the problem is on my side or with the SDK or something else. We have few event tags and for each we get :E/Adjust﹕ Failed to track event 'XXXX'. (Event Token for wrong app: 'XXXX')

I am not sure what can be wrong. Maybe you can help.

To have bigger picture about this, here is a log: (t

[2014-10-24 14:58] glung opened #79 "Google Advertising ID"
The README section of this repository mentions this :

Unless I missed something, I can't find any usage of this id beside this logging [0].

Is the google play service really mandatory ?

[0] https://github.com/adjust/android_sdk/blob/master/Adjust/src/com/adjust/sdk/ActivityHandler.java#L281

[2014-10-27 10:55] #79 closed, assigned to nobody

[2014-10-27 13:02] #78 closed, assigned to nobody

[2014-10-28 10:33] joecks opened #80 "Adjust Singleton difficult to test"
The Adjust Sigelton only provides static methods, which is just possible to mock with PowerMock, but this is not working with robolectric. So I suggest to move the Adjust Singleton implementation to a class
AdjustImpl which is instantiated statically and exposed with getInstance and setIntance to clients, so it is possible to mock its behavior.

[2014-11-22 01:05] PhatJo opened #84 "Use of Activity Context - Potential Memory Leak"
I notice that the Adjust constructor takes an Activity context, and passes it to an ActivityHandler that extracts the Application’s context:

[code]

In my analysis, I find this to be keeping many other objects throughout our app from being released, leading to OutOfMemoryError exceptions and thus crashes. Can this be reworked so it uses the main Application Context directly?

Please find the scre

[2014-12-16 12:50] WarrenFaith opened #86 "Compile issues"
I have added Adjust as a subtree using the latest commit on master (because of the missing imports on tag v3.6.1).

I am unable to run my app as soon as I add Adjust to my project gradle. I only get the following output in the gradle console. Always right after `:subtrees:Adjust:Adjust:jar`

    Error:Cannot convert the provided notation to a File or URI: [src].
    The following types/formats are

[2015-01-07 14:34] wellle commented on #45
Please reopen if you still see this issue.

[2015-01-07 14:34] #45 closed

[2015-01-07 14:35] #14 closed

[2015-01-07 19:40] hpadrao commented on #84
Do you have any plans to fix it?

[2015-01-07 20:48] samdozor commented on #84
Although I'm not sure how a memory leak would be caused if they're just calling `getApplicationContext()` immediately, this appears to be fixed/changed as of v3.6.1: https://github.com/adjust/android_sdk/releases/tag/v3.6.1

[2015-01-07 20:51] hpadrao commented on #84
@samdozor Perfect, thank you very much.
I'm gonna implement Adjust and was taking a look if there was something weird before.

[2015-01-08 14:43] wellle commented on #84
Oh you're right, we already fixed that a month ago with https://github.com/adjust/android_sdk/commit/c39c04a. Thanks :+1:

[2015-01-08 14:43] #84 closed

[2015-01-23 15:05] maedchenflohmarkt opened #88 "Set environment in code"
Currently environment is set via meta-data which is defined at compile time. If we could set environment in code it would be easy to just switch environments based on `BuildConfig.DEBUG`.

The current method introduces a possible point of error when creating a deployable apk since the developer has to remember to switch to production.

[2015-01-23 15:18] samdozor commented on #88
I wonder if the Adjust team would recommend against just using the `appDidLaunch` method to instantiate the SDK:
https://github.com/adjust/android_sdk/blob/master/Adjust/src/com/adjust/sdk/Adjust.java#L156

[2015-01-26 13:35] maedchenflohmarkt commented on #88
Thanks for your help. We are now using Adjust.appDidLaunch in OnCreate of the Application.

[code]

Our current SDK version is 3.6.1 since this is the latest one on maven central. I hope adjust will upload 3.6.2 soon and for all future versions. v4 does not seem to be ready for production yet.

[2015-01-28 07:21] matze025 commented on #53
Would it be possible to Push the Version 3.6.2 to Maven? Thanks

[2015-01-28 08:38] josketres commented on #53
What about publishing every new release to a public repository?

[2015-02-09 12:53] wellle commented on #88
Yes the environment will be set in code in version 4.

[2015-03-04 17:14] StephenMilone commented on #77
It is appears maven repo is a version behind?  I'm only seeing 3.6.1  please advise.

[2015-03-16 14:15] nonelse commented on #77
Thanks for the input.The new version for the adjust SDK uses Android Studio by default and it's on Maven Repository.
Feel free to open a new issue for the new version.

[2015-03-16 14:15] #77 closed

[2015-03-20 10:03] kfayzullin opened #92 "Delegate Callbacks in SDK"
We are missing the ability to receive callbacks client-side on
- session
- install and
- reattribution events

in the SDK version 4.x.

We need these to be able to sync adjust.io with other tracking tools client-side.

We need the same information as the one which was available in SDK version 3.x, i.e.:

    - AIActivityKind activityKind indicates what kind of activity was tracked. It has one of t

[2015-03-20 10:11] wellle commented on #92
@kfayzullin: Thanks for the input. If any of the tracker related values changes, the `onAttributionChanged` function will be called. So currently you only miss when activities are tracked.

Could you expand on what you want to use it for? Then we might consider adding a second callback function for when an activity was tracked. But we tried to simplify the current callback by only calling it when

[2015-03-20 18:34] kfayzullin commented on #92
We are using these callbacks currently for synchronizing adjust.io session tracking with one other tracking/analytics tool. So we get informed about the new session start getting adjust.io callback and forward this information directly to our another tracking tool. This helps to keep all data in sync between the tools.

[2015-03-23 08:37] wellle commented on #92
@kfayzullin: I see. Usually we take care of that kind of synchronization via server to server callbacks. Please contact support@adjust.com and tell them about your use case. You should not need to synchronize SDK to SDK.

[2015-03-23 08:55] kfayzullin commented on #92
@wellle: Unfortunately, we cannot sync server side, since in this case we won't get user IDs matched. I already talked to Paul Müller. He told me to post it here to be addressed in the next SDK release.

[2015-03-23 09:30] wellle commented on #92
Alright, we will consider adding a second callback for SDK version 4.1 that gets executed every time an install, session, reattribution or event got successfully tracked.

[2015-03-24 03:26] docgravel opened #95 "Please consider adding an option to disable ANDROID_ID collection"
Some security-conscious organizations don't want to ship any libraries that collect ANDROID_ID because its sensitive information.  Those organizations are left with the choice of either forking your library and maintaining a fork with the ANDROID_ID collection turned off or using a competitor.  We would rather not use a fork which will quickly get out of date.  Please consider adding an API like A

[2015-03-24 10:04] nonelse commented on #95
Hi. We have an option to remove the source files that access Android Id and Mac Address. The documentation was removed for v4, but it's back online at: https://github.com/adjust/android_sdk/blob/master/doc/gps_adid.md

You're suggestion it's still good, and we will consider adding it as a soft version that persists after updates.

Thanks for the feedback :)

[2015-03-24 10:04] #95 closed

[2015-03-24 10:38] hameno opened #97 "Tracking revenue"
Hello,
we are implementing a general app framework and provide several tracking services the user can enable. Inside the framework we have a kiosk system where the user can buy content. We need to be able to track this using different services. One of this tracking service is adjust. While we can track revenues with adjust, we only get the revenue in the users currency. We have no idea what curren

[2015-03-24 10:56] wellle commented on #97
As per the documentation, the revenue tracking can be used correctly as long as you manage to send the proper currency.

We are currently working on that server side currency conversion. Once that's live you can send revenue in any currency and it will be converted on the fly and shown in the dashboard in the currency that you have set up. I will let you know when currency conversion is live.

[2015-03-24 10:59] Raheel-Adnan opened #98 "Using Adjust new SDK in Eclipse IDE"
We are working on our Android product and which has not been upgraded to Android Studio yet. Can you please tell me how to use your updated SDK into eclipse project?
Currently we are using old SDK.

Thanks,

[2015-03-24 11:00] hameno commented on #97
Any idea when that might happen?

[2015-03-24 11:02] wellle commented on #97
We're aiming for within the next few weeks.

[2015-03-24 12:13] #98 closed

[2015-03-24 12:13] Raheel-Adnan commented on #98
We are migrating our project after all. No need to address this issue.

Thanks,

[2015-03-24 12:15] wellle commented on #98
Good choice!

For the record: https://github.com/adjust/android_sdk/blob/master/doc/eclipse.md

[2015-03-24 13:36] hameno commented on #97
Okay, thanks.

[2015-03-24 18:26] docgravel commented on #95
Ok, thanks for responding.  We will consider that route, but would prefer not to fork.  Maybe we can add a step to our proguarding to remove those classes but still allow us to use the pure library from maven.

[2015-03-25 12:21] vsochinsky opened #99 "onAttributionChanged listener calls with several processes"
Can the listener be called multiple times if application is running in the several processes? We send event to mixpanel there and need the event to be sent strictly once. Thanks.

[2015-03-25 12:35] wellle commented on #99
Yes the `onAttributionChanged` listener will be called exactly once every time the attribution changes. For most devices that will happen exactly once when we have the final attribution data ready after install.

The function will only be called a second time if the attribution changed again at a later point. That would be a reattribution.

See also: https://github.com/adjust/android_sdk/blob/mast

[2015-03-25 12:35] #99 closed

[2015-03-25 17:06] bertybrace opened #102 "AdjustConfig compares objects not values for environment"
Hello,

checkEnvironment() in AdjustConfig checks for a proper environment by comparing the String objects. We think comparing values should be in place.

Instead of:
environment == AdjustConfig.ENVIRONMENT_SANDBOX

use:
environment.equals(AdjustConfig.ENVIRONMENT_SANDBOX)

Please excuse me if I'm missing an important point.

[2015-03-25 17:07] wellle commented on #102
@bertybrace: Good point, we will change it accordingly :+1:

[2015-03-25 18:15] #102 closed

[2015-03-26 09:45] nonelse commented on #86
@WarrenFaith, have you tried the new adjust android sdk v4?
It should solve this issue, but feel free to open a new one if it persists or you find something new.
Thanks!

[2015-03-26 09:45] #86 closed

[2015-03-26 09:46] nonelse commented on #38
Solved in v4. Thanks!

[2015-03-26 09:46] #38 closed

[2015-03-26 10:06] nonelse commented on #80
The [AdjustInstance.java](https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/AdjustInstance.java) file allows to create different instance of the adjust interface. Take notice that it should be only used for testing, because stuff like the Install Referrer still uses the default static `Adjust` interface

[2015-03-26 10:06] #80 closed

[2015-03-31 14:26] paulocarvalhoaig opened #103 "Session control"
I'm currently implementing the new 4.0.2 SDK version, and sometimes when the Adjust tries to track the session it sends:

E/Adjust﹕ Failed to parse response (Content has been consumed)
V/Adjust﹕ Response: null

and after this happens none of the following events are tracked and the same response is given.

I've been searching for a possible cause, and testing scenarios, and I've read that in previ

[2015-03-31 15:02] nonelse commented on #103
Hi.

This error usually occurs if the HttpResponse entity is is used more than [once](http://stackoverflow.com/a/4732212). We only consume the entity once per [response](https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/Util.java#L164).

Just to be sure, did you get this behaviour by modifying the SDK or by manipulating the stack while debugging? Sometime

[2015-03-31 16:07] paulocarvalhoaig commented on #103
No, I didn't change the SDK, I'm using it as it is.
The only difference I have, it's that due to project structure restrictions I don't initialize the Adjust on the onCreate method of my Applicaton Class, but in a specific class for tracking initialization. But as far as I could tell the problem is not from there, because it's initialized and receive a success response from the Adjust SDK when mak

[2015-04-02 14:07] T-Spoon opened #104 "Will OnAttributionChangedListener Be Called If Device Data is Wiped?"
Hey,

Looking through the code - it seems as is OnAttributionChangedListener won't be called in the case of data clear on the device.

For example, using Mixpanel, if open the app the first time I'll correctly get the OnAttributionChangedListener called and my events will be properly attributed.  But if I wipe the data, I'll have a new Mixpanel profile, but the OnAttributionChangedListener won't b

[2015-04-02 14:20] nonelse commented on #104
Can you clarify what you mean by wiping the data? Is it uninstalling the app and reinstall it?

We don't have a feature to wipe data in our SDK, but if the attribution file is deleted and can't be read, the SDK will ask again for the attribution and OnAttributionChangedListener will be called.

Could you clarify the question, so we can try better to answer it?

Thanks!

[2015-04-02 14:23] T-Spoon commented on #104
Sorry for not being clearer - specifically I mean going into App Settings -> Clear Data.  No uninstall involved.

So in this case we should get the attribution callback as normal?

[2015-04-02 14:52] paulocarvalhoaig commented on #103
Hi,

Do you have any idea of how can I solve my problem? I tried every combination for setting the Adjust.onResume() and Adjust.onPause() and I'm still having the same problem, after successfully trancking a session if uninstall and install the app again, the session and all following events won't be tracked, only after more or less 30 minutes if I install the app the events will be
This may not b

[2015-04-02 14:56] wellle commented on #103
@paulocarvalhoaig: Yes we have a workflow for that. Please contact support@adjust.com and ask how you can reset test devices.

[2015-04-02 15:18] nonelse commented on #104
When the data is wiped, the state files are deleted and the app closed. When the app is re-open it will behave like has if it was installed, so the attribution changed function will be called again.

Hope it cleared your question, but let us know if it didn't.

[2015-04-07 08:50] T-Spoon commented on #104
Cool.  That's just what I wanted to know.  Cheers!

[2015-04-07 08:50] #104 closed

[2015-04-07 12:26] scompt commented on #97
I'm still confused by the documentation and your comments above. If my dashboard is in EUR and I track 10 USD, will the correct thing happen right now or do I have to wait the couple weeks until the server-side currency conversion is implemented?

If I have to wait a couple weeks, what's the behavior in the meantime? Will 10 EUR be tracked even if I send 10 USD?

[2015-04-07 12:28] wellle commented on #97
No.

Yes.

Yes.

[2015-04-07 12:29] scompt commented on #97
Thanks for the clarification.

[2015-04-07 23:57] shercoder commented on #88
If you're using Gradle then you can use something like this in your `build.gradle`

[code]

and then just use when configuring Adjust: `BuildConfig.ADJUST_ENVIRONMENT`

[2015-04-08 00:52] shercoder opened #106 "Event buffering"
I am trying to understand `Event buffering`
https://github.com/adjust/android_sdk#15-enable-event-buffering

From what I understand from above documentation that `Adjust` batches all events into **one** request and send it after a minute. But that's not the behavior I am seeing, unless I am misreading the docs. I see that it waits 1 minute but it sends all events in their individual requests. For

[2015-04-08 09:44] wellle commented on #88
Since [version 4] you can set the environment programmatically. Check the Readme for details.

[2015-04-08 09:44] #88 closed

[2015-04-08 09:49] wellle commented on #106
You are right, we are sending the batches in batches of individual requests. This should already reduce the connection overhead because we use keep-alive connections.

Putting the whole package queue into a single request adds a lot of complexity both to every SDK we have and the backend that needs to support it. Please let me know if and why you think that would be worth it.

[2015-04-08 14:20] fabiocarballo opened #107 "Add support for Google Play Services version 7.0.0"
Hello,

We are unable to setup Adjust.

According to the logs we first have this message:
`
 E/Adjust﹕ Missing device id's. Please check if Proguard is correctly set with Adjust SDK
`

However, we have our build with minifyEnabled set to false. So we are not using Proguard.

After that log message we also have this ones:

[code]
We have the AndroidManifest with the broadcast receiver and we setup

[2015-04-08 14:44] nonelse commented on #107
The setup seems ok.
Somehow, maybe with hidden configurations, proguard might be running?
You could comment out the `minifyEnabled` setting and try again. The default is false anyway.
Also, try with the proguard exceptions anyway to see if it works that way.

[2015-04-08 14:49] fabiocarballo commented on #107
Done what you said. Same results :/

[2015-04-08 15:00] samdozor commented on #107
Does adjust require google ad id, or is android id sufficient (to avoid this error)? If google ad id is required, perhaps google play services isn't set up correctly in @fabiocarballo 's project?

[2015-04-08 15:06] nonelse commented on #107
Our SDK uses google ad id if it's available, or a combination of mac address hash and android id. Obtaining in either way relies on reflection technique. Using proguard without exceptions prevents the use of reflection because of the mangling of the class names.
In theory, if proguard would not interfere, it would get one or the others device ids.
We can help you to debug the project to see what i

[2015-04-08 15:17] fabiocarballo commented on #107
Okay. I think I got what happened. We were using the version 7.0.0 of google play services. We reverted it to the version of 6.5.87 and the messages disappeared.

Thanks for the help ;) Your hints led me to guess on what was wrong!

Btw, are you guys thinking on making it compatible with the 7.0.0 in a near future?

[2015-04-08 15:20] wellle commented on #107
That's interesting, we will check what's going on with GPS v7. Thanks for letting us know :+1:

[2015-04-08 15:35] nonelse commented on #107
I've just tested our example app with the new google play services and it seems to work ok.
Did you changed anything else?

[2015-04-08 16:28] fabiocarballo commented on #107
I've just noticed that I was missing that we were missing 'google-play-services-adds'. I think that was the thing that was really wrong. Didn't know how we ever had this working some time ago at the first place.

Sorry for all the trouble guys :/ You were really cool!

[2015-04-08 16:42] wellle commented on #107
That's good news after all :wink:

Glad it's working now :+1:

[2015-04-08 16:42] #107 closed

[2015-04-09 04:55] Raheel-Adnan commented on #98
Thanks wellle

[2015-04-18 18:15] vsochinsky commented on #99
I often have this in logs:
![screen shot 2015-04-18 at 20 10 35](https://cloud.githubusercontent.com/assets/2745764/7216409/4a97f41e-e607-11e4-8999-3ee1c168ee57.png)

In Mixpanel we also see the Marketing Attribution event (tracked in attribution callback) called more than once, sometimes even 3 or more times per user with minor time difference (mostly less than second). What can it be?

[2015-04-19 15:10] wellle commented on #99
@vsochinsky: These log lines only mean that the SDK received attribution information multiple times. It does not mean that the listener got called twice. That would only happen if the attribution responses would be different which shouldn't usually be the case.

[2015-04-20 14:23] vsochinsky commented on #99
@wellle Ok fine with logs, but we still see lots (actually most) of users in Mixpanel having duplication of the event:
![screen shot 2015-04-20 at 16 59 45](https://cloud.githubusercontent.com/assets/2745764/7231589/cfa3782c-e77e-11e4-8910-c1961961ff26.png)

This is the ratio of total event calls to number of unique users who called the event:

![screen shot 2015-04-20 at 17 02 37](https://cloud.g

[2015-04-20 15:21] wellle commented on #99
Ok that is interesting. We'll look into it.

[2015-04-22 15:21] nzakharchenko opened #110 "Reporting revenue show doubled events"
After updating SDK, I'm reporting revenue like shown in migrate manual:

[code]

but after such changes, in dashboard I always see two events reported for one revenue. Is it some kind of bug? or it should be configured somehow?

[2015-04-22 15:26] wellle commented on #110
@nzakharchenko: Could you enable verbose logging
[code]
and do it again? If you manage to track a single event in the SDK and it shows up double in the dashboard again those log messages would be really helpful to investigate.

In order to not share you tokens publicly you can send those verbose logs to support@adjust.com. Mention in the mail that these logs should be forwarded to welle. Thanks!

[2015-04-23 07:58] nzakharchenko commented on #110
@wellle done, send logs to support@adjust.com

[2015-04-23 09:12] wellle commented on #110
Received. Will check check them.

[2015-04-23 09:45] wellle commented on #110
I checked your logs but the event only shows up once in the dashboard, so everything worked as expected in this case. Please let me know if you manage to reproduce the issue where the dashboard shows different numbers than the SDK logs.

[2015-04-23 18:25] YixinZhu opened #112 "How to get notified for track finish events in 4.0.4"
Hi,

In previous versions, there was the ability to setOnFinishedListener passing in a OnFinishedListener to get notified about track events. This listener seems to have been removed. Has the capability been removed too or is there another way to do this in 4.0.4?

Thanks,
Yixin

[2015-04-23 19:23] wellle commented on #112
We removed that delegate callback in order to streamline and simplify the most common use case of it: Being notified about attribution change only.

Could you let us know what use case you have in mind? What would you like to use this callback for?

[2015-04-23 19:45] YixinZhu commented on #112
We used to check for the success/error of certain events for a couple of reasons: ensuring, on success, to not send that event again and tracking failures. I have a workaround for the time being but do you think that subscribing to success/error on events and messages a common use case or is that specific to something I'm doing?

[2015-04-23 20:46] wellle commented on #112
Well I believe you should not need to care about that. If an event failed to track because the SDK can't reach our servers, it will retry it later automatically. If the event failed because some server side checks are failing, they will keep failing in the future, so there is no need to retry it. The SDK already knows all of that and handles errors accordingly.

[2015-04-23 21:13] YixinZhu commented on #112
That's fair. I'll reopen with comments if a more compelling use case comes up. Thanks!

[2015-04-24 18:15] shercoder commented on #106
Ah ok. Thanks for clarifying. :+1:

[2015-04-24 18:15] #106 closed

[2015-05-01 12:01] nzakharchenko commented on #110
Looks like issue is fixed! Not sure what was the problem exactly, but trying with new tracker it works correctly. Thank you for support!

[2015-05-01 16:06] vsochinsky commented on #99
@wellle do you have any updates on the issue?

[2015-05-03 11:25] #110 closed

[2015-05-04 13:15] uerceg commented on #99
Hi @vsochinsky

I have few questions for you:

1. Which android_sdk version are you using?

2. What do you mean by "application is running in the several processes" - that your application consists of multiple processes or that somehow your application instance is running in several processes? If you mean this second option, can you explain me exactly how that happens?

3. I see in your log output

[2015-05-05 00:36] vsochinsky commented on #99
Hi @uerceg !

1. We use the latest version. 4.0.4 when posting logs, 4.0.5 now, and duplication problem still present.

2. I meant that two Application instances are created - one for the app itself, one for background download/processing service which needs to run separately.

3. Adjust sdk is initialized in the Application class. Our app runs in two separate processes, therefore creating two App

[2015-05-05 14:24] uerceg commented on #99
Hi @vsochinsky,

I see. At this moment, our SDK does not support that you are trying to run different application instances in Android processes with different names. In this implementation of yours, your main process and :audio_downloads_service process are two different processes which don't share same memory space and thus Adjust instance exists in both processes. That's the reason why is your

[2015-05-07 09:07] wellle commented on #97
@hameno @scompt: Currency conversion is live!
https://www.adjust.com/overview/features/2015/04/29/currency-conversion-live/

[2015-05-07 09:07] #97 closed

[2015-05-07 09:09] hameno commented on #97
Great timing, we just released the app :)

[2015-05-08 00:27] vsochinsky commented on #99
Hi @uerceg!
Thanks for the info. Yes we can wait for the fix, and yes it's ok to use Adjust only in process of my choice.

[2015-05-08 08:09] wellle commented on #99
For reference: It will be implemented in #116.

[2015-05-08 10:49] wellle commented on #99
@vsochinsky: Merged #116 and released [v4.0.6](https://github.com/adjust/android_sdk/releases/tag/v4.0.6).

[2015-05-09 12:46] vsochinsky commented on #99
@wellle, got it. Will test and if still having issues create new issue.

[2015-05-11 11:27] faizalzakaria commented on #103
Hi Adjust,

We encounter the same problem as well. How could we test this in our test env then ?

I'm unable to see any adjust.com/event being fired while the log says its triggered.

Thanks.

[2015-05-11 14:47] T-Spoon opened #118 "Don't Start Session When Calling Adjust.onCreate()"
The example shows `Adjust.onCreate()` being called in the `Application` class.

It seems that `Adjust.onCreate()` also starts a session: https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/ActivityHandler.java#L398

This doesn't make sense for a lot of cases. Broadcast Receivers and background Services will initialise the Application class, causing a sessio

[2015-05-13 10:18] wellle commented on #118
@T-Spoon: Thanks for you feedback. Are you aware of [multiple_process_app.md](https://github.com/adjust/android_sdk/blob/master/doc/multiple_process_app.md)?

Would that work for your use case?

[2015-05-13 10:25] wellle commented on #103
@faizalzakaria: If you see `Event tracked` in the SDK logs that means the event was send to  our servers and was tracked successfully. Please note that we send all traffic encrypted to **https**://app.adjust.com.

[2015-05-13 12:08] T-Spoon commented on #118
@wellle
Hmm, not sure about that - what happens when the main process hasn't been created and you call `config.setProcessName()` from a background process?  Do all future tracking calls from the background process no-op?

Besides - making components of an app multi-process solely to workaround a tracking library isn't exactly a nice solution.

[2015-05-19 08:51] proydakov opened #120 "Transaction id"
How i can set Transaction id in android SDK like iOS SDK?

/**
 * Set the transaction ID of a In-App Purchases to avoid revenue duplications.
 *
 * A transaction ID can be used to avoid duplicate revenue events. The last ten
 * transaction identifiers are remembered.
 *
 * @param transactionId The identifier used to avoid duplicate revenue events
 */
- (void) setTransactionId:(NSString *)transacti

[2015-05-19 09:04] nonelse commented on #120
Hi.

We still don't have that feature in the android SDK, but it's on the roadmap for a future version.
If you have some quick info on what the transaction id's are in Android, it could help jump start it.

Thanks for the feedback anyway!

[2015-05-19 09:06] proydakov commented on #120
ok

[2015-05-19 09:06] #120 closed

[2015-05-21 23:25] kaeawc commented on #107
I'm seeing this issue with Google Play Services 7.3.0

We have the google play services ads dependency:

[code]

And proguard exceptions:

[code]

[2015-05-22 04:44] dbachelder commented on #118
Agreed. Can we defer that until the first onResume?

[2015-05-22 04:47] dbachelder commented on #103
@wellle Can you publish the docs on resetting test devices in the readme?

[2015-05-22 04:56] dbachelder opened #121 "add convenience methods or constructors to events"
The new tracking code is more verbose, it would be pretty easy to trim it down.

from this:

[code]

to this

`Adjust.trackEvent(new AdjustEvent(token, rev, "USD"));`

or

`Adjust.trackEvent(new AdjustEvent(token).revenue(rev, "USD"));`

or

`Adjust.trackEvent(AdjustEvent.revenueEvent(token, rev, "USD"));`

I'm not picky.

[2015-05-22 05:06] dbachelder commented on #121
Likewise for the config object, some fluid interface or builder pattern would be super sweet.

[2015-05-22 05:40] dbachelder opened #122 "serialization error on startup of latest 4.x sdk"
Does this serialization error mean any user who gets this version will lose tracking data, or is this recoverable?

[code]

[2015-05-22 07:11] uerceg commented on #121
@dbachelder Thank you for your suggestions, we're gonna discuss them definitely.

[2015-05-22 07:54] nonelse commented on #122
Well that is strange.
The `ActivityState` class `serialVersionUID` hasn't changed from [9039439291143138148L] (https://github.com/adjust/android_sdk/blame/master/Adjust/adjust/src/main/java/com/adjust/sdk/ActivityState.java#L22) since version 2 of our SDK.

One possible explanation is that your version is using or reading this constant incorrectly.
Can you tell us more information, like if you use

[2015-05-22 08:05] nonelse commented on #107
@kaeawc, the proguard exceptions looks ok. And you are seeing `Missing device identifiers` in the log, correct?
Can you double check if the proguard file that you configured is being correctly used by the `.gradle` file?
Can you test with and without proguard activated, to check if that is the culprit?
If these are not enough, we can try more ideas over email. You can send one over to support@adju

[2015-05-22 08:22] wellle commented on #121
How about just letting settings like `setRevenue` return the receiver like `AdjustEvent`? Then you could use it like this (fluent):
[code]
This is backwards compatible, should work on all platforms and wouldn't increase the complexity we need to maintain as adding builders or convenience methods would.

[2015-05-22 14:37] dbachelder commented on #121
sure, that was my second choice

[2015-05-22 18:36] dbachelder commented on #122
I don't get it in subsequent restarts of the same version. But when I upgraded another existing install (running adjust 3.5.0) I get the same error. So it is reproducible.

[2015-05-25 02:07] adilahsoft0611 opened #123 "crash"
crashlytics report bug:
[code]
what can i do to fix it?

[2015-05-25 08:02] kamoljan opened #124 "`dex` issue with `com.google.android.gms:play-services-ads`"
Hi guys

During Adjust setup, can we skip the step [4](https://github.com/adjust/android_sdk#4-add-google-play-services)?

Even with `compile 'com.google.android.gms:play-services-ads:7.3.0'` it is causing `dex` issue.
Can we use `compile 'com.google.android.gms:play-services-base:7.3.0'` instead?

Best regards
Kamol

[2015-05-25 08:17] uerceg commented on #123
Hi @adilahsoft0611 and thank you for your report.

Can you tell us how did you manage to trigger this exception and is it reproducible?

[2015-05-25 09:06] adilahsoft0611 commented on #123
i can't. i get report from crashlytics.

On Mon, May 25, 2015 at 3:17 PM, Uglješa Erceg <notifications@github.com>
wrote:

[2015-05-25 10:30] uerceg commented on #123
And did it happen just once or did you see it more than once?

[2015-05-25 10:33] adilahsoft0611 commented on #123
twice.

i attached the crashlytics screenshoots.

On Mon, May 25, 2015 at 5:30 PM, Uglješa Erceg <notifications@github.com>
wrote:

[2015-05-26 01:08] adilahsoft0611 commented on #123
ups sorry, wrong attachment. i attach again.

On Mon, May 25, 2015 at 5:33 PM, adilahsoft <owner@adilahsoft.com> wrote:

[2015-05-26 08:52] uerceg commented on #123
Which SDK version are you using in your app? Can you please send us screenshots on support@adjust.com ?

[2015-05-26 09:48] uerceg commented on #124
Hi @kamoljan

I don't think you should skip step 4 of our guide, since Google announced that if you're using tracking inside of app, you should have Google Play Services integrated in order to use advertising ID.

__As a reminder, please note that starting 1 August 2014, new apps and app updates distributed through Google Play must use the advertising ID in lieu of any other persistent identifiers

[2015-05-26 17:37] dbachelder commented on #122
Should we revert to an earlier version, we were planning on launching with the latest version in the next week, but we don't want existing user tracking to get screwed up.

[2015-05-27 01:48] adilahsoft0611 commented on #123
i'm using adjust-android-4.0.2.jar

On Tue, May 26, 2015 at 3:52 PM, Uglješa Erceg <notifications@github.com>
wrote:

[2015-05-27 02:57] kaeawc opened #125 "HTTP 500 errors for too frequent sessions"
I've been trying to pare down HTTP and network errors in our app, and I noticed via Charles Proxy and NewRelic that Adjust is encountering a lot of HTTP 500 errors. It was primarily requesting  When I looked into the body of the response it seemed to indicate this is an expected error:

[code]

The Adjust SDK on our Android client is making these requests on its own when a user closes and opens th

[2015-05-27 08:23] nonelse commented on #123
Although we cannot reproduce it, a possible culprit might be the creation of a [ScheduledExecutor](https://github.com/adjust/android_sdk/blob/v4.0.2/Adjust/adjust/src/main/java/com/adjust/sdk/ActivityHandler.java#L686) every time a timer is created, which is possibly every time there is a subsession.
I was already finishing a change on the way we use the [timer](https://github.com/adjust/android_s

[2015-05-27 08:48] nonelse commented on #118
We are changing this a new release we [finshing](https://github.com/adjust/android_sdk/commit/01a1cf41e81b6c8eb100a9c7af818120f2611807).
I'll post here when it's merged.
Thanks!

[2015-05-27 09:10] nonelse commented on #125
Hi @kaeawc.

That message occurs when trying to initiate a new session on a device already registered in our servers. If for example, you delete the app and reinstall it.
You can make our servers "forget" the device for your app by following this doc: https://docs.adjust.com/en/getting-started/#testing-attribution
Just call the forget link after uninstall the app and install it again during tests.

[2015-05-27 13:13] nonelse commented on #122
I was unable to reproduce by updating a sample app from v3.5.0 to the current v4.0.6.
Could you email us the two different versions that are unable to update?
I don't think I'm able to fix something, if I can't replicate and test it.
Our contact is support@adjust.com and ask for the SDK team

[2015-05-27 13:50] kaeawc commented on #125
We are seeing thousands of these errors a day in dev, and its not from integration tests that uninstall + reinstall, just ~5 people installing the new build, 3 of which are devs and therefore you'd maybe see 20-50 installs from each per day. The numbers don't seem to match up.

I'll implementing the forget link and see if that changes things.

[2015-05-27 14:03] nonelse commented on #125
This mechanism in the server side that detects new activity states, allow us to keep the kpis numbers clean. Allowing for example, apps that wouldn't save the state would screw the numbers overall.

The 500 response is handled well by the SDK and it was prepared to work with proxy's that handle it differently.

If there is something not working correctly within these parameters we can provide some

[2015-05-27 14:13] kaeawc commented on #125
Ahk, that makes more sense. Thanks!

[2015-06-01 14:52] #125 closed

[2015-06-01 14:52] #124 closed

[2015-06-01 15:33] wellle commented on #103
@dbachelder: https://docs.adjust.com/en/getting-started/#testing-attribution

[2015-06-02 02:50] dbachelder commented on #122
I didn't have the adjust rules in proguard.... I'm pretty sure this is the problem. What are the implications of this for users in production?

[2015-06-02 07:22] kamoljan commented on #124
@uerceg thank you for your prompt response!

[2015-06-02 12:03] nonelse commented on #122
Without the proguard rules our SDK is not capable of getting any of the device id's.
Without these, as you can imagine, it's not possible to identify user throughout sessions.
Besides updating your app to update the proguard rules, contact our support so they can guide you at support@adjust.com

[2015-06-02 17:21] dbachelder commented on #122
Seems like there should be a check at least in sandbox mode to make sure there is access to whatever is needed to work correctly. We have been live in production with this "broken" integration for about a year.. it seems like we're tracking session fine.

[2015-06-04 15:28] tinsukE opened #127 "No Advertising ID with Play Services 7.5.0"
When trying to upgrade the Play Services library to 7.5.0 (`compile 'com.google.android.gms:play-services-gcm:7.5.0'`), I've started getting the following error:
`Unable to get Google Play Services Advertising ID at start time`

Is the SDK v4.0.6 compatible with Play Services 7.5.0?

[2015-06-04 16:28] uerceg commented on #127
Hi @tinsukE

Thank you for writing us.

As far as I see, you are trying to integrate only Cloud Messaging part of Google Play Services (`com.google.android.gms:play-services-gcm:7.5.0`). In order to make our SDK work properly, you should integrate Google Mobile Ads as well (`com.google.android.gms:play-services-ads:7.5.0`).

Add `com.google.android.gms:play-services-ads:7.5.0` to your project and

[2015-06-05 08:16] tinsukE commented on #127
Thanks for the quick feedback! And adding the play-services-ads dependency fixed my issue.

[2015-06-05 08:16] #127 closed

[2015-06-05 18:48] dbachelder commented on #122
This was my fault for not having the correct proguard config

[2015-06-05 18:48] #122 closed

[2015-06-08 16:51] mertsaygi opened #129 "Deep Linking With Fragments"
I want to use Adjust's deep link reattributions. The tutorial says (https://github.com/adjust/android_sdk#14-handle-deep-linking) "you must send parameter to appWillOpenUrl method intent.getData() as uri". But i'm using fragments in my application. When i try to sent uri, the uri is my activity. How can i solve this issue with fragments?

[2015-06-09 09:57] uerceg commented on #129
Hi @mertsaygi

A fragment must always be embedded in an activity so if the idea of your deep link is to point to some specific fragment, it still needs to have activity in which it is embedded. So, you should be able to call `appWillOpenUrl` from the `onCreate` method of activity which embeds your fragments.

Cheers
Ugi

[2015-06-10 13:17] nonelse commented on #123
The new version [v4.0.8](https://github.com/adjust/android_sdk/releases/tag/v4.0.8) changed the way the timer is used.
Can you see if it fixed the problem?

[2015-06-10 13:17] nonelse commented on #118
Fixed in [v4.0.8](https://github.com/adjust/android_sdk/releases/tag/v4.0.8)

[2015-06-10 13:17] #118 closed

[2015-06-11 02:38] adilahsoft0611 commented on #123
to see it's fix or not the problem, i must republish app.

i plan to publish new version app on next week. off course, i will include
to update adjust lib to v4.0.8 on that version.

On Wed, Jun 10, 2015 at 8:17 PM, Pedro Filipe <notifications@github.com>
wrote:

[2015-06-25 22:00] fleficher opened #132 "NullPointerException sendClickPackage"
Hi,

Since 4.0.6 were are experiencing crashs with Adjust. Here's the stacktrace from crashlytics :
<pre><code>
java.lang.NullPointerException
       at com.adjust.sdk.PackageHandler.sendClickPackage(PackageHandler.java:121)
       at com.adjust.sdk.ActivityHandler.sendReferrerInternal(ActivityHandler.java:529)
       at com.adjust.sdk.ActivityHandler.access$800(ActivityHandler.java:38)
       at

[2015-07-01 01:41] adilahsoft0611 commented on #123
Again, i got error on crashlytics bug report.

Capture attached

Toni Kustiana

elevenia android dev

[2015-07-01 09:22] nonelse commented on #123
hi @adilahsoft0611, it seems that there wasn't anything attached to your comment. Was it the same error?
You can contact us directly at support@adjust.com and ask to redirect to the SDK team

[2015-07-14 07:16] ajans commented on #132
Hi there,

we are having the same crash with Adjust 4.0.8 with 2 older Galaxy Y devices (GT-S5369 and GT-S6102), both running on Android 2.3.6. The crash-tracking is from Crittercism.

Here is the stacktrace:

	java.lang.NullPointerException
		at com.adjust.sdk.PackageHandler.sendClickPackage(SourceFile:115)
		at com.adjust.sdk.ActivityHandler.sendReferrerInternal(SourceFile:548)
		at com.adjust.s

[2015-07-14 07:32] uerceg commented on #132
Hi everyone,

we are going to investigate this issue and let you know as soon as we have some updates.

@ajans Are you able to reproduce this crash? Did it happen on rooted or not rooted devices in your case?

[2015-07-14 13:06] nonelse commented on #132
Hi.
Although, it seems to be possible for v4.0.8 to run into this situation in a very limited scenario, we haven't been able to replicate it.
The good news is that, the mechanism that allows that error to occur was changed in the latest version v4.0.9. Could you try to replicate it with the new version?

Cheers.

[2015-07-14 13:09] ajans commented on #132
@uerceg I haven't been able to determine the scenario for which this crash happens. It only seem to happen at app-startup. I don't know if the affected devices are rooted or not, as Crittercism doesn't provide that information.

@nonelse I will integrate Adjust 4.0.9 with the next app-update, then we will see if the crash gets reported again.

[2015-07-29 09:04] fleficher opened #136 "NPE in updateActivityState"
Hi,

There is the report from Crashlytics :
<pre><code>
java.lang.NullPointerException: Attempt to read from field 'long com.adjust.sdk.ActivityState.lastActivity' on a null object reference
       at com.adjust.sdk.ActivityHandler.updateActivityState(ActivityHandler.java:706)
       at com.adjust.sdk.ActivityHandler.endInternal(ActivityHandler.java:520)
       at com.adjust.sdk.ActivityHandler.ac

[2015-07-29 12:59] #136 closed

[2015-08-11 09:31] alvarosantisteban commented on #68
Hi,
I just tested the app for the first time and I am receiving the following messages:

`I/Adjust﹕ SANDBOX: Adjust is running in Sandbox mode. Use this setting for testing. Don't forget to set the environment to production before publishing!`

`I/Adjust﹕ Unable to get Google Play Services Advertising ID at start time`

`I/Adjust﹕ Install tracked`

I am not sure if it is correctly set or not. The

[2015-08-11 10:24] uerceg commented on #68
Hi @alvarosantisteban

Well, depends wether you want Google Play Services integrated in your app or not. This Info message in Adjust logs just says that our SDK didn't find Google Play Services (or at least Google Play Services Adds part) integrated in your app. Having in mind that install was successfully tracked, you have set up the adjust SDK properly.

If you want to see more logs from our SDK

[2015-08-11 10:26] alvarosantisteban commented on #68
Thanks, I will ask the client :)

[2015-08-18 06:54] hidroh opened #138 "org.apache.http.HttpClient has been deprecated since API 22 and removed in API 23"
Hi, a lot of adjust classes depend on org.apache.http modules, e.g. [`com.adjust.sdk.Util`](https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/Util.java) uses on `org.apache.http.HttpClient`, which have been deprecated since API 22 and have just been removed from API 23.

[2015-08-18 07:04] uerceg commented on #138
Hi @hidroh

Thank you for your message. We are aware of this and we have already prepared `HttpURLConnection` replacement for `HttpClient`. We still didn't make release with that change included but will most probably be in our next one.

Cheers

[2015-08-18 07:18] hidroh commented on #138
Thanks, any timeline for the next release before I can close this issue?

[2015-08-18 07:20] uerceg commented on #138
I'll try to update you later today with some accurate ETA regarding this.

[2015-08-18 07:21] hidroh commented on #138
Thanks! I'll leave the issue for you to close then.

[2015-08-18 16:44] uerceg commented on #138
We'll most probably make an update during next week and it will contain the fix for this. I will announce in here once it's done and close the issue then.

Cheers

[2015-08-28 12:33] nonelse commented on #138
Released https://github.com/adjust/android_sdk/releases/tag/v4.1.2

[2015-08-28 12:33] #138 closed

[2015-08-29 02:33] hidroh commented on #138
:+1:

[2015-09-02 16:52] mbernier85 opened #140 "setOnAttributionChangedListener never called"
We are trying to the data from onAttributionChanged, but the listener is never called.

How can we test, or troubleshoot the problem here ?

            String appToken = "";
            String environment = AdjustConfig.ENVIRONMENT_PRODUCTION;
            AdjustConfig config = new AdjustConfig(this, appToken, environment);
            config.setOnAttributionChangedListener(new OnAttributionChange

[2015-09-03 12:44] bricestacey opened #141 "Changelog"
I'd like to request a changelog. It's frustrating having to read commit by commit every time the library is updated.

[2015-09-03 13:34] uerceg commented on #141
Hi @bricestacey and thanks for suggestion. We already got request for changelog and we will try to add it as soon as we can.

[2015-09-03 15:28] nonelse commented on #140
The listener should be called even when the install is organic.
In sandbox mode, you should be able to see the response from the server by configuring the log level to `Verbose`.
In the response of the first session there should be a `attribution` parameter, or an `ask_in` that will start a timer to ask again for the attribution.
You'll need to reset the test device in our server to simulate a new

[2015-09-14 22:39] gpolak commented on #112
+1 for getting the `OnFinishedListener` back.

We have two distinct code paths depending on the success/failure status. Up to now we were fine using the 3.X version but now need to upgrade to 4.1.2 for Android M compatibility.

[2015-09-14 22:44] YixinZhu commented on #112
Great timing, we're starting to run into this issue as well looking ahead to Android M.

Re-opening this issue.

[2015-09-15 17:32] #140 closed

[2015-09-23 12:00] anothem opened #143 "Remove dependency on play-services-ads"
Would you be open to exploring options where adjust sdk does not have a dependency on play-services-ads? Latest version of play-service-ads has around 13k methods which means that even though adjust is pretty lean itself, we suddenly lose about a fifth of our dex "range" if we integrate. This is a problem for our app and I can imagine for many others as well.

I am aware this was [raised before](h

[2015-09-23 12:40] nonelse commented on #143
For apps that are being distributed thru Google Play Store, there are no other options. Our sdk does not depend on google play services directly, and can use other device ids if the Google Advertising id is not present. But if you are releasing in Google Play Store, you must use the Advertising id, as it is explained here: https://support.google.com/googleplay/android-developer/answer/6048248?hl=e

[2015-09-23 13:50] anothem commented on #143
Thanks for the quick response! I was under the impression that this applied only for ads that are shown on device. But I may very well be interpreting it wrong and I'm sure you know this better.

I'm trying to think of alternatives. Proguard is not ideal for us in this scenario, but we could use gradle to exclude a large part of the library and just leave the bits that you need to get the advertis

[2015-09-23 14:16] nonelse commented on #143
That is a possible approach. We have done something similar for the adobe air sdk where we used a script to strip down the original [google play services library](https://github.com/adjust/gps_ane_builder#2-choose-your-own-google-play-servicesjar).
I believe that this version is equivalent to the google-play-services-ads that can be obtained thru maven/gradle, but you could try it to verify. Altho

[2015-09-23 17:39] kherembourg commented on #143
Same problem for me, I reach the dex limit with google play services ads.
But I don't with google analytics (com.google.android.gms:play-services-analytics) which is lighter than ads.
It seems that it's analytics that contains the AdvertisingIdClient class.
Is it the only thing that Adjust needs ? If it's case, just adding analytics may be enough.

[2015-09-23 19:16] uerceg commented on #143
Are you sure? Full path of AdvertisingIdClient is `com.google.android.gms.ads.identifier.AdvertisingIdClient`. (https://developers.google.com/android/reference/com/google/android/gms/ads/identifier/AdvertisingIdClient)

[2015-09-23 19:57] kherembourg commented on #143
Yes, just tested it again, I have acces to the class and I see it in "External Libraries" : http://i.imgsafe.org/18e7222.png

[2015-09-23 20:00] anothem commented on #143
That's interesting! I guess if it's used as a UUID for analytics as well, they might have included the code in both libraries.

[2015-09-23 20:17] kherembourg commented on #143
No only in Analytics, ads include analytics.
That's weird but that's how it is. Ads does not have the com.google.android.gms.ads.identifier package, only analytics does.
I think Google should directy add it to play-services-base since it's mandatory for a lot a things now.

[2015-09-24 14:21] uerceg commented on #143
@anothem @kherembourg Thanks for the hints. I have just tested app with out SDK inside and with only `-analytics` part instead of `-ads` and yes, everything we need is contained in `-analytics`. We will update official README with this info as well.

[2015-09-24 14:21] #143 closed

[2015-09-24 14:28] anothem commented on #143
Yup, that should definitely help, analytics seems to be about half the method count! Thanks for looking!

[2015-09-24 14:30] wellle commented on #143
Thanks :+1:

[2015-09-30 16:48] anothem commented on #143
In a weird twist of situation, with 8.1.0 I'm doing better with ads than with analytics. Not sure why, as the package itself is definitely still bigger for ads, probably has to do with what other packages they are pulling in as their own dependencies.

[2015-09-30 19:01] kherembourg commented on #143
Yes Google has posted a message about it : https://plus.google.com/+GoogleDevelopers/posts/HsSNWEQ6H4e
Conclusion : if you don't need it, don't update for now

[2015-10-16 12:07] nonelse commented on #132
It should be fixed with v4.0.9. Please open a new issue if anything happens again. Thanks

[2015-10-16 12:07] #132 closed

[2015-10-28 10:39] HoangNHM opened #145 "Is Adjust set up right?"
Hi,
I'm adding Adjust SDK to an Android project, follow the instruction [Here](https://github.com/adjust/android_sdk)
I use google_play_services_version: 6587000.
I don't use Proguard.
In step 9 of the instruction, my LogCat does not show:
`Install tracked`
, it shows:
`A/Adjust: SANDBOX: Adjust is running in Sandbox mode. Use this setting for testing. Don't forget to set the environment to produc

[2015-10-28 11:15] uerceg commented on #145
Hi @HoangNHM

Reason you are not seeing `Install tracked` message is because you have started your app within your last session (session 7 in this case). Install is being tracked only when you start your app for the first time (session 1) and only initial session will be reported as install from our SDK.

Cheers

[2015-10-28 16:40] HoangNHM commented on #145
Thank @uerceg, so my app & adjust SDK is working fine? Any possible reason why I cannot see information in the dashboard - in iOS version, I can see it.

[2015-10-28 16:51] nonelse commented on #145
Hi @HoangNHM.

Maybe something went wrong with the first session in Android. You can retest by following the instruction on chapter 2.3 [`Testing attribution`](https://docs.adjust.com/en/getting-started/), that allows to forget the device on our server and simulate a fresh install.
One thing that might help see more detail is to configure the logger to `verbose` mode so you can see more detail.
Fo

[2015-10-28 17:44] HoangNHM commented on #145
Hi @nonelse,
Thank you for your fast reply, I will try it tomorrow.

[2015-10-29 20:25] akshayarora commented on #143
It doesn't look like the README for Android has been updated yet and I ran into this issue just now as well: https://github.com/adjust/android_sdk#4-add-google-play-services

[2015-10-30 11:17] nonelse commented on #143
You are right, we didn't change it at the time.
Re-tested and replaced now both in the documentation and the example app.
Thanks!

[2015-11-03 01:57] tmelz opened #147 "Bundle proguard rules inside library"
The Android Gradle plugin supports bundling proguard rules as part of the library, so users won't need to manually add anything to their proguard files. This is great because users don't need to worry about keeping their file up to date.

Here's an example pull request showing the syntax--it's super easy!
https://github.com/koral--/android-gif-drawable/pull/193

[2015-11-03 10:10] nonelse commented on #147
thanks @tmelz, we'll definitely look into it!

[2015-11-05 09:37] HoangNHM commented on #145
Hi,
Sorry for disturbing you with my problem, but I'm stuck. I used charlesproxy to view traffic, but I didn't see any adjust thing was sent out while running my app. My question is: is it wrong if nothing send to adjust (show in charlesproxy) while running app.
Thank you, I'm truly appreciated your help.

[2015-11-05 09:46] nonelse commented on #145
Hi @HoangNHM .
I would suspect that the issue is with the proxy behaviour. By default, when they intercept a 5XX response, either don't forward it or change it somehow. The adjust sdk is expecting a reply with information even in a 500 status code response.
It's possible to see if the sdk is getting a response by testing in `sandbox` mode, with verbose logs. Each package send gets a `Response: ...

[2015-11-05 10:27] HoangNHM commented on #145
Thank you @nonelse,
After config device proxy, I can catch the adjust package in charlesproxy: https://app.adjust.com.
Dose it mean I'm setting adjust right, and should see log in DashBoard?

[2015-11-05 10:30] nonelse commented on #145
You can see the logs in the device logs, either Android Studio or Xcode usually

[2015-11-06 15:48] #145 closed

[2015-11-09 04:15] HoangNHM commented on #145
Thank you @nonelse , @uerceg ,
Problem was solved, adjust is now working fine. I retest the app.

[2015-11-10 21:04] tmelz opened #148 "Proguard exclusions perhaps too broad"
The proguard config for adjust is:
[code]
In play services 7.8.0 `com.google.android.gms.common.**` contains 2,295 methods by my checks. The limit for number of methods referenced in a dex file is 65,536, so this one exclusion accounts for about 3.5% of the limit.

Just from scoping around the source, it appears that only a few classes from  `com.google.android.gms.common` are actually needed. I'm

[2015-11-11 18:02] nonelse commented on #148
Thanks, we are already making the changes in the [proguard_exceptions][https://github.com/adjust/android_sdk/tree/proguard_exceptions] branch.
After some more tests and cleanup, it should be released

[2015-11-13 12:45] nonelse commented on #148
Changed in the latest merge, thanks!

[2015-11-13 12:45] #148 closed

[2015-11-23 16:39] plastiv opened #151 "Adjust 4.1.4 is not uploaded to maven central"
It is missing. Latest version is 4.1.3 there
https://search.maven.org/#search%7Cga%7C1%7Cadjust

[2015-11-23 16:41] nzakharchenko commented on #151
+1

[2015-11-23 16:49] nonelse commented on #151
It was not pushed because the only thing that [v4.1.4](https://github.com/adjust/android_sdk/releases/tag/v4.1.4) adds is the Trademob plugin.
Since the core of the sdk was not updated, the code one the maven central would be the same if it was pushed.
We are doing an update soon, so a new version will be there soon

[2015-11-23 16:54] plastiv commented on #151
Thx for the quick reply!

[2015-11-23 16:54] #151 closed

[2015-11-29 10:34] plastiv opened #153 "Keep up with dependency version updates"
Hi! We are using adjustSdk at my company project and are happy with support and response from you guys. Thx!

I was checking the source code and noticed that some of the deps are outdated. I can give something back in return and send PRs to update them over the weekend. Let me know if you are interested in 3rd party contributions.

Proposed list of changes:
- [x] commit gradle wrapper into source

[2015-11-30 18:01] tmelz commented on #148
Awesome, cheers @nonelse! Glad you guys were already ahead of me :)

[2015-12-01 02:18] hidroh opened #154 "Distribute plugins separately from adjust core?"
Hi,

We were about to upgrade our adjust dependency until I realized that there have been a few plugins added since my last update. They are cool and all but we don't have immediate need for them at the moment.

I'm not sure if there will be a plan for this, but it would be great if plugins can be modularized and distributed separately from the core library, which I'm sure is a must for everyone (

[2015-12-01 02:26] jwyjoy opened #155 "are changing ArtifactId?"
Hi,
i saw a error for gradle build.

[code]
and, search adjust to search.maven.org
(Adjust 4.1.5 is not uploaded to maven central! lasted 4.1.3!)
found com.adjust.sdk:adjust-android-criteo:4.1.5
is also use?

[2015-12-01 02:54] jwyjoy commented on #155
-> https://github.com/adjust/android_sdk/issues/151

[2015-12-01 02:54] #155 closed

[2015-12-01 09:24] nonelse commented on #154
Hi and thanks for the feedback.

We have plugins for some partners such as criteo, trademob and sociomantic that can be added to the core adjust SDK.
So far the only way to integrate them was to download the source and manually copy the plugin files into the project.
To facilitate the process, we decided to make new artifact-id in the maven repository for this plugins. They are `adjust-android-cri

[2015-12-01 09:27] nonelse commented on #153
Thanks for the tips.
We will definitely look into to them in the next version of the sdk. The one just released only affected plugins, so it was still not updated.

[2015-12-01 10:05] hidroh commented on #154
What about classes under https://github.com/adjust/android_sdk/tree/master/Adjust/plugin? These are actually what I ask to be separated. I know there are just a handful of them now but I'm afraid they may grow a lot more in future updates.

[2015-12-01 10:13] nonelse commented on #154
those classes are not part of the source code of the adjust sdk that resides here: https://github.com/adjust/android_sdk/tree/master/Adjust/adjust/src/main/java/

Those plugin classes are to be either copied to the source, or compiled together with a different artifact-id with a different pom file. You can see the instruction of one of the plugins [here](https://github.com/adjust/android_sdk/blob/

[2015-12-01 12:16] hidroh commented on #154
Oh okay I should have RTFM. Thanks! I'll close this.

[2015-12-01 12:16] #154 closed

[2015-12-02 15:25] trebouillon opened #157 "Deeplink: Intent chooser shown after app install/opening"
## Short description

When the user clicks an Adjust link with deeplink in it and needs to install and open the app, the intent chooser pops up, but should immediately start the app and open the deeplink.

## How to reproduce

* setup a campaign with deeplink using scheme android-app
 * e.g. https://app.adjust.com/fooBar?deep_link=android-app://my.package.app/http/www.example.de/list.html
* clicki

[2015-12-02 15:30] uerceg commented on #157
@trebouillon Thank you very much for reporting this. We'll check it out and include to next Android SDK update.

[2015-12-03 12:24] nonelse commented on #112
We will release this feature in our next release. We will keep updating it here

[2015-12-03 13:09] nonelse commented on #112
Since the attribution information is now obtained thru the attribution changed delegate, this response delegate would only contain information about the success or failure of the response of sessions and events. Is that what you would expect?

[2015-12-03 21:52] georgiev-martin opened #158 "ActivityHandler should explicitly name the recipient of the intent."
Explicitly naming the recipient of an intent is better than leaving it implicit. The ActivityHandler at https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/ActivityHandler.java#L703 could use this API: http://developer.android.com/reference/android/content/Intent.html#Intent(java.lang.String, android.net.Uri, android.content.Context, java.lang.Class<?>)

[2015-12-03 21:55] georgiev-martin opened #159 "Android Advertising ID in place of UUIDs"
If Google Services are available, the Android Advertising ID should be used in place of any UUIDs. The user has control over the the Advertising ID, but not over other types of ids.

https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/Util.java#L63

[2015-12-04 07:53] uerceg commented on #129
Hi @mertsaygi

Did you have any luck with this or is this still an issue?

[2015-12-04 10:26] nonelse commented on #159
Hi and thanks for the feedback.
According to the [Google Play Developer Program Policy](https://support.google.com/googleplay/android-developer/answer/6048248?hl=en), apps cannot use other device identifiers if the Advertising ID is available.
The randomly generated UUID is not part of the device id's and cannot be used to identify the device. It is saved in the activity state and can be deleted b

[2015-12-04 10:27] nonelse commented on #158
Thanks for the suggestion, we will look into this in the next release.

[2015-12-04 12:40] nonelse commented on #158
Upon reading about this, I'm not sure we can use this in our SDK. It expects an activity class that we don't have access, but the app has.
One possible way would be to add a parameter that accepts this class, but wouldn't the solution present [here](https://github.com/adjust/android_sdk/issues/157) be enough to explicitly open the correct Activity, as long it's correctly configured in the app?

[2015-12-06 01:03] Geek4IT opened #160 "ActivityState cast error"
Hi, I am using the Adjust 4.0.8 version, and I collected this crash log in my dashboard, please help to check it:

java.lang.ClassCastException: com.adjust.sdk.ActivityState cannot be cast to java.util.List at com.adjust.sdk.PackageHandler.readPackageQueue(PackageHandler.java:202) at com.adjust.sdk.PackageHandler.initInternal(PackageHandler.java:165) at com.adjust.sdk.PackageHandler.access$0(Packa

[2015-12-06 09:50] uerceg commented on #160
Hi @Geek4IT

Thank you for your report. This was reported to us couple of times already. Is it possible for you to reproduce this crash? We were trying really hard in order to reproduce it, but never had any luck. If you can, it would be really helpful if you can write us down the steps needed to perform in order to reproduce it.

Anyway, fix which should prevent this thing happening was released

[2015-12-07 06:53] Geek4IT commented on #160
It is hard for us to reproduce too, we just saw the crash log from the dashboard . We have more than 100 million users globally, and it crashes more than 10, 000 times already. If we plan to upgrade the Adjust SDK, which version is the most table one? The stability of the third-party SDK is very important for us. Thank you.

[2015-12-07 08:55] uerceg commented on #160
Of course. Last version available should always be the good choice, so feel free to chose that one once upgrading (currently https://github.com/adjust/android_sdk/releases/tag/v4.1.5).

In the meantime, we'll keep trying to reproduce this error, because it was reported sporadically and no one was able to reproduce it again. If you come up with some scenario which recreates it, it would be great if

[2015-12-07 09:57] nonelse commented on #160
The error implies that one of the files is written as the other or that one of the files is read as the other.
The problem is that we can’t find a case where that is possible.
But @ugi is right, we've catched that exception in one of our updates and it should be able to recover to a something stable with that.

[2015-12-08 23:15] georgiev-martin commented on #158
A parameter that accepts the class would be fine.

Explicitly naming the recipient is the preferred way, as it would prevent Intent spoofing.

[2015-12-08 23:26] georgiev-martin commented on #159
Thanks for the reply!

One of the purposes of the advertising ID is to track the user between sessions. The UUID is used for that same purpose here, too. From that perspective, if the advertising ID is available (Google Play Services is available), it should be preferred over other identifiers (e.g., UUID).

It is true, that the user can reset the UUID by clearing the app's data, but that would al

[2015-12-09 15:21] sighmoan commented on #159
The primary concern of the advertising ID, though, is to track users between apps, allowing publishers and advertisers to sync on which users have travelled between the two. You can see this more clearly on iOS, where multiple different identifiers have different purposes - IDFA for cross-app, IDFV for internal purposes, etc.

The randomly generated ID here is not a device ID, as it is unique per

[2015-12-09 15:21] #159 closed

[2015-12-14 11:23] MarioBoehmer commented on #158
The solution presented in https://github.com/adjust/android_sdk/issues/157 is actually enough to make this work.

[2015-12-22 12:02] uerceg commented on #160
Okay, we have changed the way we're handling this. I think that you shouldn't face this error anymore. Feel free to reopen the issue if you still see it after this update. Thank you for your feedback once more.

Fix commit: https://github.com/adjust/android_sdk/commit/8d0b1dcf88b5100d04210c5fa674f50fff8c36d4
Pull request: https://github.com/adjust/android_sdk/pull/162
SDK release: https://github.c

[2015-12-22 12:02] #160 closed

[2015-12-22 12:03] uerceg commented on #158
Added to the latest update.

Pull request: https://github.com/adjust/android_sdk/pull/162
SDK release: https://github.com/adjust/android_sdk/releases/tag/v4.2.0

[2015-12-22 12:03] #158 closed

[2015-12-22 12:04] uerceg commented on #157
Added to our new release. Thank you once more for your helpful feedback.

Pull request: https://github.com/adjust/android_sdk/pull/162
SDK release: https://github.com/adjust/android_sdk/releases/tag/v4.2.0

[2015-12-22 12:04] #157 closed

[2015-12-22 12:05] uerceg commented on #153
Selected things released in latest version.

Pull request: https://github.com/adjust/android_sdk/pull/162
SDK release: https://github.com/adjust/android_sdk/releases/tag/v4.2.0

[2015-12-22 12:17] plastiv commented on #153
This is great. Thank you!

[2016-01-12 07:02] onderezdi opened #164 "Instant event sending not working even setEventBufferingEnabled set to disabled"

[2016-01-12 07:44] uerceg commented on #164
Hi @onderezdi.

Any additional info maybe that you have to share with us or is the title of an issue everything?

If so, it would be helpful for us if you could send us the logs when you try to track some event (set your environment to `sandbox` and log level to `verbose`).

Cheers

[2016-01-12 11:32] onderezdi commented on #164
We are using Criteo plugin to send events. As the title say, in sandbox or production, it is randomly stacking events before sending. I will be sent you our old log via email.

[2016-01-13 11:05] jczerski opened #165 "README step 4. is not clear"
Dear Sir or Madam,

at begin I would like to thank you for the great sdk for users with Android devices.

I would like to ask you about README which is not clear for me. In step **4. Add Google Play Services** which Google Play Services should I import? Ads part, Analytics part or both?

Thank you for the answer in advance.

Best regards,
Jack

[2016-01-13 12:34] uerceg commented on #165
Hi @jczerski

Indeed, it is a typo in our README. `-analytics` part is just enough for our SDK to be able to read Google Play Services ID. Thank you very much for the observation and we'll update the README as soon as possible.

Cheers

[2016-01-13 12:49] #165 closed

[2016-01-14 18:05] theneutronchef opened #166 "Conflicting intent-filters"
Hi,

I'm trying to add another plugin which requires MAIN and LAUNCHER in the intent-filter:

[code]

Would Adjust still work normally after removing those from com.unity3d.player.UnityPlayerNativeActivity?
Thanks!

[2016-01-27 06:06] TedHoward opened #168 "Can we disable the 20 minute timeout on sandbox?"
Developer productivity is often limited by the iteration cycle of compile, link, launch. With adjust's attribution APIs this becomes compile, link, wait 20 minutes, launch. The reason is that if you skip that 20 minutes adjust won't call your attribution callback.

The result is that adding support for attribution takes hours when it could take minutes. In our latest bug we had a simple logic issu

[2016-01-28 13:49] uerceg commented on #168
Hi @TedHoward

We are currently preparing official docs of how to handle these kind of situation. In the meantime, please write us a short email to support@adjust.com and reference this GitHub issue. We'll guide you thru possible solution which will hopefully be applicable to your scenarios.

Cheers

[2016-01-28 19:41] TedHoward commented on #168
Thanks for the offer, but I think all our bugs have been worked out. This was just a feature request to help improve your service for future developers.

Another such feature request would be to use event names instead of token strings in your API calls. We have a C++ compiled for winrt, winphone, google, and ios. Because we have separate apps in Adjust for these we have to have code that translat

[2016-01-28 19:41] #168 closed

[2016-02-09 09:35] vanniktech opened #171 "Add Consumer Proguard Configuration"
Can be done like this:

[code]

And in the text file just simply put the lines that are currently in the README. The only requirement for `consumerProguardFiles` is that the library would need to be shipped as an AAR. I've looked it up on Sonatype and currently the library is shipped as an Jar.

Any reason for not moving forward to AAR and making the set up process a bit easier? (with already prov

[2016-02-09 11:07] nonelse commented on #171
The last time we got the suggestion of using `consumerProguardFiles`, it wasn't a final version that we could depend on. We will look into it and at least add it as an option if it works.
Thanks for the help!

[2016-02-09 11:39] vanniktech commented on #171
The flag seems to be in the Android Gradle Build Tools starting with 0.5.7 [according to this](http://tools.android.com/tech-docs/new-build-system).

I'm using it wherever I can since it's saves a lot of time on the end consumer of the library. So far I've also never had problems with it.

Another advantage is that with let's say with the new version 5 some rules change you simply update the rules

[2016-02-10 10:11] sergiiz opened #172 "ZipException: duplicate entry: com/adjust/sdk/ActivityHandler$1.class"
Weird exception when I'm trying to build our big multidex project with the latest Adjust sdk:

[code]

Everything builds fine on com.adjust.sdk:adjust-android:4.1.0 but not on 4.2.+ (tried 4.2.2 and 4.2.3).
Also everything builds fine on 4.2.3 if minSdkVersion=21, but not for minSdkVersion=14.

Can't reproduce on small/example projects.

[2016-02-25 09:16] AlexBonel opened #176 "No documentation for INSTAL_REFERRER broadcast testing"
That would be great if sdk provides any documentaiton about how to be sure that appropriate receiver correctly handles ```INSTAL_REFERRER``` broadcast, with parameters which Adjust is sensitive to and which could be delivered to application via ```adb shell am broadcast``` command.

[2016-02-26 15:04] nonelse commented on #166
The `MAIN` and `LAUNCHER` in the intent-filter are not from our sdk, but part of the default android manifest. What our sdk requires from the manifest is:
1 - [permission for Internet access](https://github.com/adjust/unity_sdk/blob/master/Assets/Adjust/Android/AdjustAndroidManifest.xml#L36)
2 - [A broadcast receiver for install intents](https://github.com/adjust/unity_sdk/blob/master/Assets/Adjus

[2016-02-28 11:25] NammariMarkavip opened #178 "Session number is 3-4 times more than average after adding adjust sdk with the Criteo plugin"
After integrating criteo for android . we started to see 3-4 times more session than our daily average .

[2016-02-28 11:54] uerceg commented on #178
Hi @NammariMarkavip

Can you please write a short email and reference this issue in it to support@adjust.com and let us know in there your app token so that we can investigate this issue?

Thank you in advance.

Cheers

[2016-02-28 12:20] NammariMarkavip commented on #178
@uerceg i did sent an email .

[2016-02-28 13:09] uerceg commented on #178
@NammariMarkavip Thank you for the update, our AMs will forward it to me as soon as they can. I'll ping you as soon as I find something out.

Cheers

[2016-02-29 19:28] uerceg commented on #178
Solved. Not an SDK related issue.

[2016-02-29 19:28] #178 closed

[2016-02-29 19:29] uerceg commented on #176
Hi @AlexBonel

Thanks for the advice, it would be useful to provide this info in README, I agree. Will be added to the docs soon.

Cheers

[2016-03-03 10:57] uerceg commented on #129
Please reopen if this is still an issue with the newest SDK version.

[2016-03-03 10:57] #129 closed

[2016-03-03 11:00] uerceg commented on #153
Travis configuration will be added in some of the next releases. Thank you one more time for all your suggestions.

[2016-03-03 11:00] #153 closed

[2016-03-03 11:10] uerceg commented on #172
Hi @sergiiz

I wasn't able to reproduce this thing issue at all.

How are you adding our SDK to your app? Can you show me your `build.gradle` file? Dummy question, but did you maybe double added dependency to our SDK somehow (maybe by adding `compile project(":adjust")` to your `build.gradle` + maybe having our .jar in `libs` folder and including that folder as well into `build.gradle`?

[2016-03-03 11:11] uerceg commented on #123
Hi @adilahsoft0611

Are you maybe facing this issue with newest android SDK version?

[2016-03-03 14:12] uerceg commented on #176
Merged https://github.com/adjust/android_sdk/pull/180.

[2016-03-03 14:12] #176 closed

[2016-03-14 13:17] ialmetwally opened #181 "Fatal Exception: java.lang.NullPointerException"
The following crash happens a lot more than (4000 times) using SDK version 4.1.0

It occurs on different android versions: 4.4.2, 4.2.2, 5.0.2, 5.1

Stack Trace:

[code]

[2016-03-14 13:35] nonelse commented on #181
This is was possible case, if onPause was called before the sdk was properly initialized.
Since [v4.1.1](https://github.com/adjust/android_sdk/releases/tag/v4.1.1), it has been fixed to prevent this.

[2016-03-14 13:36] ialmetwally commented on #181
Thanks I'll update the SDK!

[2016-03-14 13:36] #181 closed

[2016-03-16 08:01] uerceg commented on #92
Added to latest `4.6.0` release: https://github.com/adjust/android_sdk/releases/tag/v4.6.0

[2016-03-16 08:01] #92 closed

[2016-03-16 08:02] uerceg commented on #112
Added to our latest `4.6.0` release: https://github.com/adjust/android_sdk/releases/tag/v4.6.0

[2016-03-16 08:02] #112 closed

[2016-03-17 06:20] hasanizer commented on #172
I've got the same result when adding criteo also.
[code]

[2016-03-17 08:46] uerceg commented on #172
@hasanizer Can you reproduce this error every time you try to build your project?

[2016-03-17 08:48] hasanizer commented on #172
Yes

[2016-03-17 09:17] uerceg commented on #172
@hasanizer If you want to use our SDK with Criteo plugin capabilities, all you need to add to your gradle file is:
[code]

It contains our SDK + Criteo capabilities.

[2016-03-17 09:35] hasanizer commented on #172
Ouw, sorry. I'm so stupid. Thanks...

[2016-03-17 09:37] uerceg commented on #172
No problemo, glad it worked. :+1:

@sergiiz Any update on this issue in your case?

[2016-03-21 11:30] sergiiz commented on #172
@uerceg thanks a lot!

Can't confirm right now, I'm on anther subproject. I think my problem was the same so I'm closing the issue.

[2016-03-21 11:30] #172 closed

[2016-03-21 11:47] uerceg commented on #172
:+1: Thanks for an update.

[2016-03-21 14:04] mbruggmann opened #182 "Implement a Deeplink Listener"
We'd like to have a callback listener for deeplinks. That would give our app more control over how to handle deeplinks, e.g. respond differently during a signup flow than when the user already has an account.

The API could look something like this:
[code]

This could be implemented from the `launchDeeplink` method in `ActivityHandler.java`.

[2016-03-21 15:03] nonelse commented on #182
Just to clarify: this callback would be triggered when the sdk receives a deferred deeplink and the boolean returned from `onDeeplinkReceived` would decide if the adjust sdk launches the deeplink or not?

[2016-03-21 15:05] mbruggmann commented on #182
Correct. Not that I have thought about it a lot, but that would solve our use case at least.

[2016-03-21 15:06] nonelse commented on #182
This is not something that we had though about it before.
Thank you for the feedback, we will discuss what to do.

[2016-03-30 20:21] Soriyyx opened #184 "AdjustReferrerReceiver not working properly"
Trackers are not working properly in our Android app. I uploaded apk with Adjust SDK installed to Google Play Beta and download it via tracker link but no install is recorded on dashboard. After a little bit of searching I've read that Android since Honeycomb doesn't allow calling broadcast receivers until an app is launched for the first time. Do you have any information on that matter? Here is t

[2016-03-31 09:09] uerceg commented on #184
Hi @Soriyyx

First of all, what I can see from your logs is that once you launched your app on the device for this test, this was not the first time that app was started on your device. Our SDK read attribution, something we call activity state and package queue:

[code]

This indicates that SDK was already started before this particular launch, because all of our internal files where we are keepi

[2016-04-18 03:15] haipingguo opened #187 "java.lang.StackOverflowError"
java.lang.StackOverflowError
java.io.ObjectInputStream.readClassDescriptor(ObjectInputStream.java:1744)
java.io.ObjectInputStream.readNewClassDesc(ObjectInputStream.java:1656)
java.io.ObjectInputStream.readClassDesc(ObjectInputStream.java:683)
java.io.ObjectInputStream.readNewObject(ObjectInputStream.java:1806)
java.io.ObjectInputStream.readNonPrimitiveContent(ObjectInputStream.java:787)
java.io.O

[2016-04-18 06:43] uerceg commented on #187
@haipingguo Can you please tell me which SDK version are you using?

[2016-04-18 06:45] uerceg commented on #184
@Soriyyx Any progress with this issue?

[2016-04-18 06:46] uerceg commented on #123
Please, reopen if you are still facing this version with latest SDK update.

[2016-04-18 06:46] #123 closed

[2016-04-18 06:49] haipingguo commented on #187
My version number is 4.0.8，i need update?

[2016-04-18 06:49] uerceg commented on #103
@paulocarvalhoaig @faizalzakaria Are you still facing these issues?

[2016-04-18 06:49] haipingguo commented on #187
My version number is 4.0.8,thanks.
From: Uglješa Erceg
Date: 2016-04-18 14:44
To: adjust/android_sdk
CC: haipingguo
Subject: Re: [adjust/android_sdk] java.lang.StackOverflowError (#187)
@haipingguo Can you please tell me which SDK version are you using?
—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-04-18 06:50] uerceg commented on #164
@onderezdi Are you still facing this issue?

[2016-04-18 06:51] uerceg commented on #187
@haipingguo Yes, update to newest SDK version is always strongly recommended by us.

Are you able to reproduce this crash scenario in your app with SDK v4.0.8?

[2016-04-18 07:03] haipingguo commented on #187
I can't reproduce it, and there are some problems.

java.lang.ClassCastException
com.a.a.i cannot be cast to java.util.List
com.adjust.sdk.PackageHandler.void readPackageQueue()(PackageHandler.java:202)
com.adjust.sdk.PackageHandler.void initInternal()(PackageHandler.java:165)
com.adjust.sdk.PackageHandler.void access$0(com.adjust.sdk.PackageHandler)(PackageHandler.java:160)
com.adjust.sdk.Package

[2016-04-18 07:37] uerceg commented on #187
Yes, that is repaired. Was already reported from time to time in v4.0.8 and also, people were unable to reproduce it. For the reference: https://github.com/adjust/android_sdk/issues/160

No issue of this kind reported ever since, I would advise you to update your SDK version.

[2016-04-18 07:40] haipingguo commented on #187
Ow, thank you!

[2016-04-18 08:22] uerceg commented on #187
No problemo. 👍

Please, reopen the issue if you encounter the same problem with newest SDK version.

Cheers

[2016-04-18 08:22] #187 closed

[2016-04-18 11:57] #164 closed

[2016-04-18 11:57] onderezdi commented on #164
it can be closed

[2016-04-19 21:04] uerceg commented on #187
@haipingguo Just to double check some situations, would it be possible for you to send me your ProGuard settings file? If it's not something you want to share publicly in here, you can send us an email to support@adjust.com and reference this issue.

Thanks in advance.

Cheers

[2016-04-19 21:05] uerceg commented on #181
@ialmetwally Just to double check some situations regarding this issue, would it be possible for you to send me your ProGuard settings file? If it's not something you want to share publicly in here, you can send us an email to support@adjust.com and reference this issue.

Thanks in advance.

Cheers

[2016-04-20 07:44] ialmetwally commented on #181
@uerceg The issue was fixed when I updated the SDK version

[2016-04-20 07:48] uerceg commented on #181
@ialmetwally Thanks for the update. 👍

[2016-04-23 15:39] faizalzakaria commented on #103
Its all good now @uerceg .

Thanks @wellle @uerceg

[2016-04-23 21:43] uerceg commented on #103
:+1: Glad to hear that.

[2016-04-24 10:21] paulocarvalhoaig commented on #103
All good!
Thanks.
On Apr 23, 2016 22:43, "Uglješa Erceg" <notifications@github.com> wrote:

[2016-04-24 11:54] uerceg commented on #103
Thanks for update guys. 👍

[2016-04-24 11:54] #103 closed

[2016-04-28 11:41] vanniktech commented on #171
@nonelse any update on this one?

[2016-04-28 16:53] nonelse commented on #171
I think this is a breaking change that would be only possible with a new major version of the SDK. So, there is currently no timeline for a v5 of the SDK

[2016-04-29 08:42] vanniktech commented on #184
@uerceg hey there we're facing the same problem though it's a bit hard to determine what's wrong in our situation.

## Before

We had Adjust `4.2.3` running and those Proguard rules:

[code]

Also we had 2 Receiver for the `INSTALL_REFERER` intent filter. One for you guys and one for Localytics.

[code]

## After

I updated the Adjust SDK to `4.6.0` and those Proguard rules:

[code]

I also remove

[2016-05-09 09:17] sorinirimies opened #189 "Device ID not sent when google play services is available."
I am using google play services but I want to receive the the device ID over the adjust sdk. However this is not possible hence there is a flag in the method inside the DeviceInfo class:

  private String getAndroidId(Context context, boolean isGooglePlayServicesAvailable) {
        if (!isGooglePlayServicesAvailable) {
            return Reflection.getAndroidId(context);
        } else {

[2016-05-09 09:54] nonelse commented on #189
Since 2014/08/01, apps distributed through the Google Play Store have the requirement to use advertising ID as the device id: https://support.google.com/googleplay/android-developer/answer/6048248?hl=en

The reason that we still have a fallback to Android id and hashed mac address is to support non-Google Play Store apps, that usually are distributed in devices that don't have Google Play Services

[2016-05-09 10:10] sorinirimies commented on #189
Yes, it falls outside both. We are using google play services, and part of our analytics relies on the device ID sent through Adjust SDK. But interestingly enough, the device ID not being sent only started to happen after we updated the play services to 8.4.0. Is there a possibility to extend the SDK and leave the send device ID decision to the implementer?
Thx.

[2016-05-09 10:10] uerceg commented on #182
Added in `v4.7.0` release: https://github.com/adjust/android_sdk/releases/tag/v4.7.0
For reference: https://github.com/adjust/android_sdk/pull/186/commits/9e3d8a5dd4bcfc6e345ca66146065a4b4f55fd9b

[2016-05-09 10:10] #182 closed

[2016-05-09 10:23] nonelse commented on #189
So your app is not being distributed through Google Play Store and you have installed Google Play Services and still want the SDK to read and send the Android ID, is this right?

If this is something that you want and since you know where the issue is, you can change the source code on your integration to make the SDK read and send the Android ID at your own risk.

To have the SDK officially do th

[2016-05-09 10:25] uerceg commented on #184
@vanniktech Please, sorry for delayed answer.

Can you explain me a bit this part:
[code]
Can you explain me how did you make 5 clicks, was it from same device?

As far as custom broadcast receiver implementation and forgetting the device scenario are concerned - everything looks fine. If you see `Forgot device`, that's perfectly fine, it indicates that our backend forgot your test device and that

[2016-05-09 10:32] vanniktech commented on #184
Don't worry it actually does work now. It just took some time in Adjust to receive the installed (some took couple of hours, some more than a day). However the click events were almost instant. We had one issue in earlier testing though.

Assume that the package name is `com.example`. Our custom `ReferralReceiver` was declared in the manifest as:

[code]

This variant does not work so we had to de

[2016-05-09 10:42] uerceg commented on #184
Ah, okay, we actually weren't checking the `.CustomReceiver` scenario, we are actually advising in our docs to use it like you did in 2nd scenario, so with `com.example` in front: https://github.com/adjust/android_sdk/blob/master/doc/referrer.md

In theory, all our minor versions are backwards compatible. With each new minor version, we are trying to introduce some new features in our SDK and to i

[2016-05-09 10:49] sorinirimies commented on #189
The app is distributed through the play store, we have installed play services and we want the SDK to read and send the Android ID.Reason is a historic one. The initial internal data science guys have implemented the analytics also based on the adjust SDK received device ID.
I already, downloaded the source code and modified the getAndroidID method. But it is not the cleanest solution, hence every

[2016-05-09 10:57] uerceg commented on #184
Great, glad it worked. 👍

@Soriyyx Feel free to reopen this issue if you still face it.

Cheers

[2016-05-09 10:57] #184 closed

[2016-05-09 11:08] nonelse commented on #189
We had the same issue during the migration, so we kept sending both values for a while. After enough time, we had the mapping of Andoid Id to Advertising Id, so we were able to drop reading the Android Id to be compliant with Google.
I suggest for you to do the same thing temporarily, to be able to rely on Advertising Id as soon as possible.
If you really want to continue to have this behaviour, t

[2016-05-23 04:20] Paulus6 opened #190 "Adjust seems like not handling bad network situation well"
Hi All,
       we have integrated Adjust to our app, but when network is not good, there is some log showing Adjust not handing the situation well:

05-23 09:40:17.590 7734-7793/xxxxx E/Adjust: Failed to track session. (Request failed: java.io.IOException: Hostname 'app.adjust.com' was not verified) Will retry later

05-23 09:40:23.734 7734-7746/xxxxxx E/StrictMode: **A resource was acquired at at

[2016-05-31 21:54] katiehutch opened #191 "Secure Broadcast Receiver"
@nonelse

**Reference:** https://github.com/adjust/android_sdk/blob/24c3b0bd2d57d0cbf70a01171d82900710cabf24/Adjust/example/src/main/AndroidManifest.xml

* This shows the use of com.android.vending.INSTALL_REFERRER intent filter, and the com.adjust.sdk.AdjustReferrerReceiver Broadcast receiver
* In this implementation example, the Broadcast receiver is not properly secured allowing any application

[2016-06-03 08:35] nonelse commented on #191
moved to internal issues

[2016-06-03 08:35] #191 closed

[2016-06-13 20:00] jbrick opened #192 "Attribution ChangeListener"
The readme in the faq states:

"If you want to trigger an event after the install, use the attribution changed listener."

Does this mean the attribution changed listener will only be called once per install? Or is additional logic required to enforce that?

[2016-06-13 20:28] uerceg commented on #192
Hi @jbrick

Attribution changed listener is the method which gets triggered when ever attribution changes. By changes, we also consider "first time obtained" as well.

Once app is installed and opened for the first time, our SDK doesn't know anything about this particular install's attribution. So in first session package we ask backend about it and once we get the answer, we trigger this callback

[2016-06-13 20:58] maltzj commented on #192
@uerceg does this mean that this callback will only be fired when the application is launched?

[2016-06-13 21:05] uerceg commented on #192
Yes. I mean, it shouldn't happen that this callback gets triggered after your user was already using the app in foreground for some time. If certain install gets reattributed, this will be figured out upon app launch once new session is being started.

[2016-06-13 21:31] uerceg commented on #190
Hi @Paulus6

And sorry for the delayed answer. Can you please specify a bit more what do you mean when you say "network is not good"?

[2016-06-14 14:50] marlonbosse opened #193 "Deeplinking and Attribution"
hey, I've got some trouble regarding the deeplink functionality and reattribution. I try my best to describe it as narrow as possible:

I got a deeplink like this:
`http://app.adjust.com/f0ob4r?deep_link=myapp://`

to this point everything works as expected, my app opens and displays the desired activity.
I also set the Logger to VERBOSE to keep track of what exactly happens.

this is the output w

[2016-06-14 16:08] uerceg commented on #193
Hi @marlonbosse

Skip using `Adjust.setReferrer` method, because it is meant to be used by users who have distributed their apps maybe outside of Play Store and at some point of time, they want to assign it to some custom referrer. That's not the thing you need for this.

Lemme get your desired use case clear: You have the app installed and it was probably attributed as an organic install. Now you

[2016-06-15 07:20] marlonbosse commented on #193
@uerceg Exactly, I tried the `Adjust.setReferrer` only after the other way didn't worked.

Exactly thats my usecase. It is an organic install because its the development version. the `f0ob4r` tracker is just a sample, I pass an actual tracker id of course.

[2016-06-21 11:47] NammariMarkavip opened #195 "New Version does not sync event to Adjust dashboard"
I updated the adjust library old version was 4.2.3 and the updated one is 4.7.0 .
i didn't see any change logs on library from your side .
now our app  does not send events , if i revert back to old version it works fine  (4.2.3) .

[2016-06-23 20:28] gwilli opened #196 "Should AdjustReferrerReceiver have exported="false"?"
I'm seeing this lint warning in my AndroidManifest.xml file when I add the receiver they way it is specified in your README.

Is the README correct or should the referrer receiver be set to `exported="false"`?

[2016-06-25 11:32] falconxunit opened #197 "safeguard trader"
http://app.getresponse.com/click.html?x=a62b&lc=ufRYi&mc=ll&s=rNxq25&u=BKnS&y=O&

[2016-06-25 11:33] falconxunit commented on #197
They changing for capital  the first letter of email addresse

[2016-06-25 11:34] #197 closed

[2016-06-25 11:37] falconxunit opened #198 "http://app.getresponse.com/click.html?x=a62b&lc=ufRYi&mc=ll&s=rNxq25&u=BKnS&y=O&"
?

[2016-06-25 11:38] falconxunit commented on #198
http://app.getresponse.com/click.html?x=a62b&lc=ufRYi&mc=ll&s=rNxq25&u=BKnS&y=O&

[2016-06-27 07:03] uerceg commented on #198
@falconxunit

What is your question?

[2016-06-27 08:13] uerceg commented on #196
Hi @gwilli

Here's explanation of `exported` field:

[code]

So this sentence:

[code]

says that if we want to receive intents from the Android system (which is exact thing what our broadcast receiver does), it needs to be set to `true`.

[2016-06-27 15:16] gwilli commented on #196
Hmm... I wonder why Android Studio has that lint check then. Seems like based on the description and all other documentation I see about implementing a receiver with a `com.android.vending.INSTALL_REFERRER`, that you're correct and it should have `exported="true"`.

Thanks for your response!

[2016-06-27 16:24] falconxunit commented on #196
Yes its true but the epost i had it but it say open in pdf but i dont se it
are we ,us ...
Le 2016-06-27 11:16 AM, "Greg Williams" <notifications@github.com> a écrit :

[2016-07-06 11:17] phienkaka opened #199 "Attribution doesn't update."
I have a deeplink like this one
http://app.adjust.com/{tracker}?deep_link=my_app://{app_url}/?adjust_tracker={tracker}&adjust_campaign=campaign&adjust_adgroup=adgroup&adjust_creative=creative

After using this deeplink I see that request was sent to adjust

[code]

And I get response

[code]

So, now each time I sent an event to Adjust I got the response with Adjust attribution

[code]

You can se

[2016-07-06 12:12] uerceg commented on #199
Hi @phienkaka

Just to check first, the `deep_link` parameter in your URL is encoded right? If not, this part:
[code]
should be URL encoded.

If that's fine, there's another thing that you should have in mind while testing. If you have already installed your app, it has some initial attribution (if you just installed it directly from Android Studio, it's probably an organic install). Now, if you w

[2016-07-07 11:03] phienkaka commented on #199
Thank you, you are right, I need to wait 30 minutes for getting the change.
I think we can close this issue.

[2016-07-07 11:03] #199 closed

[2016-07-14 12:52] n-belokopytov opened #200 "AdvertisingID fallback broken on build tools 24 + play services 9.2"
After updating to build tools 24 and getting the latest version of play services, we've noticed that our install attribution is broken. Investigation of the issue showed that "OnAttributionChangedListener" does not get called at all. After providing the Advertising ID the listener started get called again.

[2016-07-25 16:24] JosepLC opened #203 "Crash on the Sdk"
Hi, yesterday I saw a crash on the google play developer console with the Adjust sdk.

We use the most recent version (4.7.0).

`java.lang.RuntimeException: 03
at xmoszwkq.eOqlqwPW.chaVJs4S(eOqlqwPW.java:26)
at xmoszwkq.unG7GkHE.yuARBFsW(Native Method)
at xmoszwkq.unG7GkHE.uBqVkHvi(unG7GkHE.java:109)
at xmoszwkq.unG7GkHE.A81KWsPh(unG7GkHE.java:82)
at xmoszwkq.unG7GkHE.l__KPNPR(unG7GkHE.java:36)
at

[2016-07-25 16:26] uerceg commented on #203
Hi @JosepLC

Are you using only our broadcast receiver for `INSTALL_REFERRER` intent or do you have your own?

[2016-07-25 16:29] JosepLC commented on #203
hi @uerceg

we are using your broadcast receiver, as it says in the Basic Installation Guide.

[2016-07-25 16:32] uerceg commented on #203
Is this something you can maybe reproduce white testing in sandbox? What was the frequency of this crash being reported in production? Is it widely spread or just randomly reported on couple of devices?

[2016-07-25 16:34] JosepLC commented on #203
It happened twice the same day on the production app, and we can not reproduce it.

[2016-07-25 16:54] uerceg commented on #203
Thank you for your report, we will take a look at this and get back to you as soon as we find something out.

[2016-07-25 16:59] uerceg commented on #203
@JosepLC

Do you have information what is the Android version of the devices on which this crash happened? Is your app pure native Android app or written with some non native framework (Unity, Cordova, etc)?

[2016-07-26 07:04] JosepLC commented on #203
I was a native Android version, without any non native framework.

[2016-07-26 09:06] nonelse commented on #203
The error seems to occur during the initialisation of the [AdjustReferrerReceiver](https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/AdjustReferrerReceiver.java) class. So even before [onReceive](https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/AdjustReferrerReceiver.java#L19) is called.
Since it's the system th

[2016-07-26 09:10] JosepLC commented on #203
we look for "AdjustReferrerReceiver" and we are only using in the manifest, no "new AdjustReferrerReceiver()" in the java code.

[2016-07-27 15:58] nonelse commented on #200
Sorry for the late reply.
I just tested the current version with an app with build tools 24 and the latest version of play services and did not had an issue with the attribution changed callback. Can you replicate it in a test device?
 Also, what do you mean by `After providing the Advertising ID the listener started get called again`?

[2016-07-27 16:02] nonelse commented on #195
Sorry for the late reply.
Is that something that you can replicate in a test device with logs activated?

[2016-07-27 16:03] #189 closed

[2016-08-17 18:02] rrbrambley opened #214 "Broken Link in Documentation"
That URL – https://github.com/adjust/android_sdk/blob/master/doc/referrer.md – leads nowhere. Please fix.

[2016-08-17 18:31] maherhanafi opened #215 "UnsupportedOperationException at com.adjust.sdk.Util.dateFormat(Util.java:88) in Android OS 5.x"
Hi,

We use the Android Adjust SDK 4.7.0 in our app and we noticed a crash on Android 5.x devices.
Here is the stack trace.

Thanks
Maher

[code]

[2016-09-03 03:51] Arash-gm opened #219 "Adjust tracking issue after adding Appboy"
recently i have some reports from marketing team that from a specific date till now , adjust tracking wont work properly , in that time i've just setting up appboy sdk to the project. after that reports i've testet adjust config initialization and it logs ( suspicious one ) that "Attribution file not found". i wanted to know that is any instructions that i should follow to integrate both adjust an

[2016-09-04 11:56] Rahulrsannidhi opened #220 "Using the MacAddress is violating Google Play policies."
In Adjust SDK found that using the user MAC Address inside MacAddressUtil class in the  plugin package.So from understanding its violation of the Google play policies  "Usage of Android Advertising ID".can you please suggest on this.
https://play.google.com/about/monetization-ads/ads/ad-id/

[2016-09-05 06:33] uerceg commented on #220
Hi @Rahulrsannidhi

We are **never reading MAC address when Google Play Services Ad Id is read**, which is exactly what Google is saying that it shouldn't be done.

[code]

If user does not integrate Google Play Services into his app and disables the Google Ad Id reading, then we fallback to MAC address, but we **never gather those two values at same time**.

[2016-09-09 12:25] nonelse commented on #219
Hi @Arash-gm
Sorry for the delayed reply.
`Attribution file not found` is a normal log message, if you check the log level, you'll see that is a debug message, not an error.
It indicates that the attribution file was not yet created, which is normal when the sdk first launches, or is not configured to give attribution information.
Regarding the adjust tracking, I would advise to follow the guide a

[2016-09-12 15:06] jmehtaebates commented on #215
@luckey01 can you please look into this? or if you can point this to the right person, that would be great as well.

[2016-09-13 14:08] TillSimon opened #223 "Wrong maven path"
[Here](https://github.com/adjust/android_sdk#sdk-add) you mention to insert the maven dependency

`compile 'com.adjust.sdk:adjust-android:4.10.0'`

The currently published version on maven is `4.7.0` though

[2016-09-13 14:15] uerceg commented on #223
Hi @TillSimon

Yeah, we just merged changes from 4.10.0 in master and Maven build is still being uploaded to the repository. Should be available in there shortly.

Cheers

[2016-09-13 14:26] uerceg commented on #223
@TillSimon

Should be live now.

[2016-09-13 20:28] TillSimon commented on #223
Ah, alright, what a timing. Thanks for the notice.

On Tue, Sep 13, 2016, 16:26 Uglješa Erceg <notifications@github.com> wrote:

[2016-09-13 21:39] uerceg commented on #223
Can we close the issue?

[2016-09-13 21:46] TillSimon commented on #223
Haven't tested, but I mean it makes sense that it didn't work - so, sure.

On Tue, Sep 13, 2016, 23:39 Uglješa Erceg <notifications@github.com> wrote:

[2016-09-14 06:18] #223 closed

[2016-09-14 06:20] uerceg commented on #220
Hi @Rahulrsannidhi

For the reference: https://developer.android.com/training/articles/user-data-ids.html

Did I give you the answer you were looking for?

Cheers

[2016-09-14 06:21] uerceg commented on #219
Hi @Arash-gm

Anything else we might assist you with this issue?

[2016-09-14 06:22] uerceg commented on #192
Hi @maltzj

Do you need any further assistance on this issue?

Cheers

[2016-09-14 06:23] uerceg commented on #195
Hi @NammariMarkavip

Any update on this issue?

Cheers

[2016-09-14 10:48] giniedp opened #225 "Core threads must have nonzero keep alive times"
Since Adjust version 4.10.0 the following error occurs

[code]

I have tested compileSdkLevel 23 and 24 and the following Android versions
- Error occurs on API Level 16
- Error occurs on API Level 19
- Error occurs on API Level 21
- Error does not occur on API Level 23

The error does not occur on Adjust version 4.7.0

[2016-09-14 11:51] nonelse commented on #225
Thanks.
We found that by default API level 23 and over has the default keep alive time of 10 milliseconds, but that is not the case under.
We'll make a release with an explicit keep alive time to prevent this error.

[2016-09-14 13:04] nonelse commented on #225
Fixed with release [v4.10.1](https://github.com/adjust/android_sdk/releases/tag/v4.10.1), thanks!

[2016-09-14 13:04] #225 closed

[2016-09-15 15:14] dpeters-ipc opened #228 "Failed to read response when sending data"
Environment:
---
Adjust Version: 4.10.1 (Sandbox-Mode)
Device: Samsung Galaxy S4
Device-Android Version: 5.0.1

Since Adjust 4.10.1 I get this error in logcat for every event:

[code]

In 4.7.0 the error wasn't thrown, instead I see some debug json-data.
On another device with Android 7.0 it works also with 4.10.1, so I would think that it is a SDK related issue.

Since I cannot be sure if everyth

[2016-09-15 16:03] uerceg commented on #228
Hi @dpeters-ipc

Are you able to reproduce this issue all the time or is it randomly appearing? Are you experiencing it only with this device or it is device unrelated?

Cheers

[2016-09-15 16:25] dpeters-ipc commented on #228
On this device always and reproducable. I am currently checking if I can find another affected device.

[2016-09-15 16:37] dpeters-ipc commented on #228
I can reproduce it in an Android Emulator with API 21 (5.0.2), too:

[code]

[2016-09-15 17:04] dpeters-ipc commented on #228
the problem also exists on an HTC One Max (5.0.1)

[2016-09-15 17:29] uerceg commented on #228
Thanks for the update, we're on it.

[2016-09-15 19:58] uerceg commented on #215
Hi @jmehtaebates

Thank you for this report. Can you please tell me if this is something which you are able to reproduce?

Cheers

[2016-09-15 21:52] jmehtaebates commented on #215
Hi @uerceg

There aren't any specific reproducing steps. Here is some additional info which might help

In last 30 days, we saw 438 users affected by this with a total of 458 crashes
95% of these were seen on devices running 5.x android version
87% of the total happened on samsung devices

[2016-09-16 10:22] nonelse commented on #215
Hi @jmehtaebates.

I've tried to replicate in an emulated device with Android 5.0.1 by initialising and using the format function of `SimpleDateFormat` dozen of thousand of times from different threads without success.

It seems that Android 5.0 had that private function [java.util.GregorianCalendar.julianError](https://android.googlesource.com/platform/libcore/+/android-5.0.2_r1/luni/src/main/jav

[2016-09-16 11:54] nonelse commented on #228
HttpsURLConnection is being disconnected before the response is read.
Change done in [PR#229](https://github.com/adjust/android_sdk/pull/229) to be released very soon

[2016-09-16 14:41] nonelse commented on #228
Fixed in [v4.10.2](https://github.com/adjust/android_sdk/releases/tag/v4.10.2)

[2016-09-16 14:41] #228 closed

[2016-09-16 15:29] dpeters-ipc commented on #228
thanks for the very fast fix! 👍

[2016-09-19 17:07] jmehtaebates commented on #215
Thank you @nonelse

I will let my team know as well.

[2016-09-20 07:24] apo1981 opened #230 "Get Adjust Tracker Token and Tracker Name synchronously"
Hi,

I am developing an Android app and I have integrated Adjust SDK on it using the following code in onResume method to get the Adjust Tracker Token and Adjust Tracker Name after installing and running the app for the first time. Below code perfectly working.

@Override
public void onResume() {
    Adjust.onResume(this);
    Adjust.setOnFinishedListener(new OnFinishedListener() {
        public

[2016-09-20 07:54] nonelse commented on #230
Hi Antonio and thanks for the message.
This is something that we considered to add before and we will see if it will be released on a future version of the sdk

[2016-09-20 08:20] apo1981 opened #231 "Session check interval failed"
Hi

Let me expose the scenario in my Android app:
1. Install the app and launched
2. App retrieves Adjust Tracker name and Adjust Tracker Token via the onFinishedTracking callback
3. Close, kill and uninstall the app
4. Install again the app and launched
5. onFinishedTracking callback is triggered but with the following error: Adjust Error: Session request check interval failed (Ignoring too frequ

[2016-09-20 08:22] apo1981 commented on #230
Thank you for you reply

Hope to see this feature in future releases

[2016-09-20 08:22] #230 closed

[2016-09-20 08:28] uerceg commented on #231
You are missing one step in this flow - forgetting your test device from our backend.

Check this section: https://github.com/adjust/android_sdk#ts-session-failed

[2016-09-20 10:18] apo1981 commented on #231
is this sth that happen in sandbox or also in production mode?

[2016-09-20 10:39] uerceg commented on #231
Тhis error we are describing in the README is implying that you are testing your app in sandbox. Often, users want to emulate "installation and first opening of the app" scenario and see how things look like in that moment (among other things, they also wanna see attribution callback getting triggered, like you in this case).

If you just uninstall the app and reinstall it, our SDK will try to sen

[2016-09-20 12:48] apo1981 commented on #231
Thank you

[2016-09-20 15:38] apo1981 commented on #231
Hi again, but I checked it using **production mode** and I get the same failure message :(.

If I understood you, this should only happen in sandbox mode right?

[2016-09-21 13:56] apo1981 commented on #231
any feedback?

[2016-09-21 14:37] uerceg commented on #231
Hi @apo1981

This is not sandbox feature mode only. It behaves the same regardless of the environment you are using it in (sandbox or production). Distinction between environment variables just points the traffic you make to the proper part in your dashboard, but backend behaviour is the same in both cases.

It is the same for iOS platform as well, correct.

Cheers

[2016-09-21 23:39] falconxunit commented on #231
Thanks

Le 2016-09-21 10:37 AM, "Uglješa Erceg" <notifications@github.com> a écrit :

[2016-09-22 09:54] apo1981 opened #232 "Events not displayed in Adjust dashboard"
Hi again,

We have created different events in our Adjust app, and those token events are used in our Android/iOS app to track those events.

We are using sandbox mode, but when these events are sent, we are not able to display them on App Adjust Dashboard, so is there any way to check in adjust site if an event has been received and when?

We are trying to debug the reason behind that because the

[2016-09-22 10:18] uerceg commented on #232
Hi @apo1981

Are you checking the sandbox traffic on your dashboard?

[2016-09-22 10:21] apo1981 commented on #232
do you mean the statistics dashboard? If you do, then yes I do, and the events are not counted
On contrary, what do you exactly mean abt checking the sandbox traffic on my dashboard? How can I do it?

[2016-09-22 10:29] uerceg commented on #232
When you go to your app's statistics page in the dashboard, there's an option to check the **sandbox mode** check box and so you can see all the traffic which you did with your app while in sandbox mode.

<img width="311" alt="screen shot 2016-09-22 at 12 29 23" src="https://cloud.githubusercontent.com/assets/1741635/18744917/3f788ba2-80c0-11e6-9ba8-df4578188417.png">

[2016-09-22 10:55] apo1981 commented on #231
Hi again,

We would like to know if we have a strange behaviour in our iOS app integrating the SDK because we are using the following method from the delegate to retrieve the tracker name and tracker token once the installation is done and app is firstly run:

(void)adjustAttributionChanged:(ADJAttribution *)attribution

Using this method, iOS app does not return any session failed error as we hav

[2016-09-22 10:56] apo1981 commented on #232
Yes, we are configuring the dashboard on that way, and we even selects the right events in the Column Selection section.

[2016-09-22 11:32] uerceg commented on #231
Hi,

That callback is not the one which will deliver you the message that session failed. That one is used to obtain info about the attribution once it changes.

The callback you are looking for is the one which gets triggered when session fails (because install is nothing else than the first session ever and error due to too frequent session will cause it to fail).

The callback you are looking f

[2016-09-22 12:20] apo1981 commented on #231
I see your point, but why the adjustAttributionChanged method is triggered is such a case?

[2016-09-22 12:48] uerceg commented on #231
If there's a standard first install and launch scenario happening, install will be tracked and `adjustAttributionChanged` will be triggered.

If you uninstall the app and reinstall it and launch it in the time interval less than 20 minutes, you will get the info that session tracking failed due to too frequent session request and this info will be delivered in `adjustSessionTrackingFailed` callbac

[2016-09-26 13:42] avinz commented on #232
Faced the same issue. Configured SDK in sandbox mode. When launching event - I see "I/Adjust: Event tracked '****'" in console. But nothing in dashboard.

[2016-09-26 14:30] uerceg commented on #232
@apo1981

I saw this particular event in our backend logs and also, in your dashboard.

Please, try to go to your dashboard and check statistics for your app. Select `SANDBOX MODE`, hit `APPLY` and after that, select your event name from KPI drop down menu. You will be able to see that event happened on 22nd of September.

[2016-10-13 08:17] uerceg commented on #190
Hi @Paulus6

Are you still facing this error with latest SDK version (4.10.2)?

[2016-10-27 13:33] apo1981 opened #234 "Install Event not tracked on Dashboard"
Hi

We are testing our app using sandbox enviroment, installing the app from Android Studio IDE and unistalling it, it seems that the logs are ok because we are able to retrieve the tracker name and tracker token, but we are not able to observe the install event on the app adjust dashboard, however the session seems to be updated.

Adjust SDK: compile 'com.adjust.sdk:adjust-android:4.10.2'

Finall

[2016-10-27 13:39] uerceg commented on #234
Hi @apo1981

Couple of things.

1. I guess you have either set adjust log level to be `debug` or your LogCat filter is showing only `debug` and higher log level. Make sure to change both to `verbose` so that you can see more informative log output.
2. Uninstalling the app and simply re-installing it afterwards will not cause install to happen, because once install happened from your device, our ba

[2016-10-27 14:03] apo1981 commented on #234
Thks @uerceg for your feedback.

Following your steps, I can see now the Install tracked in the log and the following message: Adjust] onFinishedSessionTrackingSucceeded: Session Success msg:Install tracked time:2016-10-27T13:54:46.497Z+0000 adid:754a817aec7b4625f53c5e02c1b14caf json:{"app_token":"hz6rtwb96ker","adid":"754a817aec7b4625f53c5e02c1b14caf","timestamp":"2016-10-27T13:54:46.497Z+0000","

[2016-10-27 14:06] uerceg commented on #234
Good news! 👍

Yep, there should be a bit of delay between the moment when install is tracked and when that info is displayed in the dashboard.

To get info about exact time of this delay, please contact your dedicated AM or simply send email to our support which can provide you with an answer to this question on support@adjust.com

[2016-10-27 14:16] apo1981 commented on #234
But, how can I be sure that pointing to Production is going to work? Logs are disabled :(

[2016-10-27 14:37] uerceg commented on #234
Well, if it works in sandbox, with just changing production environment before releasing the app to production, it must work. :)

You can repeat the same procedure with environment variable set to production and after a bit, check the dashboard and you'll see install count being increased for the installs in production.

[2016-10-28 07:29] apo1981 commented on #234
Thks so much for your support @uerceg

Just to summary and completely understand how the platform works in terms of how the install and session events are recorded (and showed on the dashboard), let me show you some scenarios where I described my understanding:

**- Scenario 1:**
Device not registered in Adjust platform,
App not installed on the device,
App is installed on the device,
App is opene

[2016-10-28 07:35] uerceg commented on #234
Yes, you understood it well. Only few minor corrections:

**- Scenario 2**
Session time is 30 minutes, not 20 (if you made this conclusion based on error message you are getting from the backend in session too frequent scenario, that's because backend considers 20 minutes as timeframe for the next session, but SDK is keeping it at 30 minutes).

**- Scenario 3**
Same as above, session is 30, not 20

[2016-10-28 07:38] apo1981 commented on #234
Again, thks so much

[2016-10-28 07:38] #234 closed

[2016-10-28 07:39] uerceg commented on #232
@apo1981 Can we close this one? I suppose this is now solved?

[2016-10-28 07:40] uerceg commented on #231
@apo1981 What's the status on this one?

[2016-11-01 23:13] jbrick opened #235 "Does Adjust Forward Referrer url parameters?"
Hey, I was wondering if there was an adjust link like:

https://app.adjust.com/<campaign>?deep_link=<deeplink>&referrer=<referrer>

Does that referrer get forwarded to the play store or is it just replaced with the referrer adjust uses to track installs? I was wondering, if there was a way to use referrer to do instantaneous deferred deep-links on Android, without waiting for the Adjust callback t

[2016-11-04 13:45] avinz opened #237 "Problems with testing Deferred deep linking"
Hello,
I am trying to test Deferred deep linking in application, so after install user will pass directly to desired page.

AdjustReferrerReceiver is added to manifest.

So we have a link :  https://app.adjust.com/blabla1?deep_link=some://foo/bar

(if this link is used when app is installed, deeplinking works as expected)

The way I'm trying to test it now :
1)Remove the app from device
2)Forget d

[2016-11-04 18:50] uerceg commented on #237
Hi @avinz

Do you have attribution callback implemented in your app? If not, add at least empty implementation of it and retry the test flow. Deferred deep link should arrive then.

4.10.3 will contain a change where you won't need to have this callback implemented for deferred deep link to arrive.

Lemme know if it worked for you.

Cheers

[2016-11-05 11:26] avinz commented on #237
Hello @uerceg

Thank you very much for reply, now it started working :)
But as I see (and seem written in docks) that there is no guarantee that deeplink event will arrive immediately to the application, sometime it arrives immediately, sometimes in one minute and sometimes only after I close and open app again. Is there a way to receive this event on app launch for sure?

[2016-11-05 12:10] uerceg commented on #237
Hi @avinz

Good news. :)

As of SDK v4.10.0, deferred deep link is being delivered in the answer to the attribution answer coming from the backend. Flow looks pretty much like this:

If your user have clicked on URL which contained `deep_link` info in it, he/she was redirected to the store, have downloaded and launched the app. In that moment, SDK sends initial session package to the backend and t

[2016-11-05 14:30] avinz commented on #237
@uerceg

After app is launched I receive +- 5 same events :

11-05 13:43:39.342 14181-16788 V/Adjust: Path:      attribution
                                         ClientSdk: android4.10.2
                                         Parameters:
                                         	app_token        {token}
                                         	attribution_deeplink 1

[2016-11-08 14:05] #141 closed

[2016-11-08 14:06] Obaied commented on #166
Closed due to inactivity.

[2016-11-08 14:06] #166 closed

[2016-11-08 14:06] Obaied commented on #190
Closed due to inactivity.

[2016-11-08 14:06] #190 closed

[2016-11-08 14:06] Obaied commented on #192
Closed due to inactivity.

[2016-11-08 14:06] #192 closed

[2016-11-08 14:07] Obaied commented on #195
Closed due to inactivity.

[2016-11-08 14:07] #195 closed

[2016-11-08 14:07] Obaied commented on #196
Closed due to inactivity.

[2016-11-08 14:07] Obaied commented on #193
Closed due to inactivity.

[2016-11-08 14:17] uerceg commented on #141
For the record: https://github.com/adjust/android_sdk/blob/master/CHANGELOG.md

[2016-11-08 14:24] Obaied commented on #196
Hey @falconxunit

Are you still facing troubles with this issue?

[2016-11-08 14:26] Obaied commented on #193
Hey @marlonbosse

Are you still facing this issue after updating to the newest SDK? Please update us with the progress

[2016-11-08 14:30] Obaied commented on #198
Closed due to inactivity, please feel free to reopen the issue if it still persists with latest SDK version.

[2016-11-08 14:30] #198 closed

[2016-11-08 14:31] Obaied commented on #214
Link is fixed in the README. For future reference, please follow this link for English version: https://github.com/adjust/android_sdk/blob/master/doc/english/referrer.md

[2016-11-08 14:31] #214 closed

[2016-11-08 14:32] Obaied commented on #215
Hey @jmehtaebates

Please let us know the progress of this issue. Was your team able to solve this problem?

[2016-11-08 14:32] Obaied commented on #219
Closed due to inactivity, please feel free to reopen the issue if it still persists with latest SDK version.

[2016-11-08 14:32] #219 closed

[2016-11-08 14:33] Obaied commented on #220
Closed due to inactivity, please feel free to reopen the issue if it still persists with latest SDK version.

[2016-11-08 14:33] #220 closed

[2016-11-08 14:34] Obaied commented on #232
Closed due to inactivity, please feel free to reopen the issue if it still persists with latest SDK version.

[2016-11-08 14:34] #232 closed

[2016-11-08 14:34] Obaied commented on #231
Closed due to inactivity, please feel free to reopen the issue if it still persists with latest SDK version.

[2016-11-08 14:34] #231 closed

[2016-11-08 14:35] Obaied commented on #200
Hey @n-belokopytov
Can you please let us know What's the status of this issue?

Cheers :)

[2016-11-08 14:50] Obaied commented on #203
Hey @JosepLC
Was the issue resolved in our latest SDKs? If so, please let us know.

Cheers :)

[2016-11-08 16:50] n-belokopytov commented on #200
@nonelse @Obaied providing the Advertising ID = adding
com.google.android.gms:play-services-analytics:9.6.1
to the project.

Apparently cannot reproduce on 4.10.2

[2016-11-08 16:56] marwinxxii opened #238 "Can AdjustEvent be reused?"
Hi everyone,

I have events, which use only eventToken without other parameters.
Can I instantiate these events only once and then pass them to `Adjust.trackEvent(..)`?

For example:

[code]

[2016-11-08 22:11] uerceg commented on #200
👍 Can we close this issue then? Feel free to reopen it if this issue still persist.

[2016-11-09 08:34] uerceg commented on #238
Hi @marwinxxii

Sure you can if that's what you want. I mean, lifecycle of `AdjustEvent` object instance is something which is fully up to you how you want to handle it. Static instance which exists somewhere or maybe you want to initialise `AdjustEvent` object instance shortly before tracking it (which is I guess the most common case), feel free to do it how ever you want.

This scenario you've d

[2016-11-09 09:10] n-belokopytov commented on #200
@uerceg sure, thanks!

[2016-11-09 09:26] #200 closed

[2016-11-10 15:02] Obaied commented on #235
Hey @jbrick!

We're more than happy to answer your inquiry, but we would appreciate it if you can forward this inquiry to integration@adjust.com since this issue is not related to the `android_sdk`

[2016-11-11 14:24] Obaied commented on #238
Hey @marwinxxii
Please let us know if there is anything else we can help you with. Otherwise, I think its best to close the issue.

[2016-11-15 16:11] marwinxxii commented on #238
Thanks, I want to reuse events, to avoid allocating same objects every time.

[2016-11-15 16:11] #238 closed

[2016-11-15 16:35] uerceg commented on #238
Just have in mind that if you are, let say reusing only one event object, if you set callback and/or partner parameters on it, you won't be able to delete them and they will be sent with each `Adjust.trackEvent`.

Cheers

[2016-11-15 16:37] marwinxxii commented on #238
Yes, I understand that, I'm not setting any other parameters, only token in
constructor.

15 нояб. 2016 г. 7:35 ПП пользователь "Uglješa Erceg" <
notifications@github.com> написал:

[2016-11-15 16:38] uerceg commented on #238
Ah, right, you're actually recreating it completely. All good. 👍

[2016-11-29 08:56] hearbeathorror opened #244 "Default tracker set, but wrong attribution received"
Hi,

I am trying to track preinstalls using adjust, and i have a custom tracker created on the dashboard, however when the "session" is created during the first install, the response i receive does not return back to me the tracker name that should point at the new tracker token.

That is, if i set default tracker value to "foo123", the tracker name and tracker token i get in the response points t

[2016-11-29 09:05] uerceg commented on #244
Hi @hearbeathorror

Lemme just ask couple of additional questions. Which SDK version are you using? While testing this particular scenario, are you clicking on some tracker URL which involves deep linking in this whole test case or are you pretty much making the "organic" scenario, but with setting the default tracker and later expecting it in attribution callback?

Cheers

[2016-11-29 09:17] hearbeathorror commented on #244
So the idea is to track the installs in a certain type of a device. I am just launching the app , and calling the onCreate with the config params set (that is default tracker set). I presume, the response should receive the tracker name and value that points to this default tracker that i am pointing to. Since its just the launch, there are no links clicked initially.

The piece of code:

[2016-11-29 09:25] uerceg commented on #244
Thanks for the detailed info, we're on it. Will ping you as soon as we check this.

[2016-11-29 09:36] hearbeathorror commented on #244
Just to confirm, would you be reproducing the same scenario at your end? Or would this be released in the next release?

[2016-11-29 09:37] uerceg commented on #244
Hi @hearbeathorror

I have just tested this flow and it works as expected.

Lemme ask you this question: `somevaluehere` which you are setting for your default tracker - is that some dummy value you're using for testing purposes or tracker token of `actual tracker` which you have created on your dashboard?

[2016-11-29 09:40] hearbeathorror commented on #244
It is a value of the actual tracker that is on the dashboard. @uerceg

[2016-11-29 09:43] uerceg commented on #244
Interesting.

Can you try first app install scenario by performing these steps:

1. Uninstall the app completely from your test device.
2. Forget your test device from our backend so that install can be tracked (more info on how to forget the device can be found in here with the forget URL: https://github.com/adjust/android_sdk#ts-session-failed)
3. Install the app which has this default tracker s

[2016-11-29 10:12] hearbeathorror commented on #244
Sure. I will check the same and let you know. Do campaigns need to be set when creating a new tracker ?

[2016-11-29 10:14] uerceg commented on #244
I guess for real production stuff, your AM is the best person to be asked about these questions.

For testing purposes, making just one test tracker in the dashboard which you will use for testing this default tracker use case is enough. Getting that tracker in attribution callback instead of the organic one is indicating that everything works as expected in this scenario.

[2016-11-29 10:18] hearbeathorror commented on #244
Ah.. So if i use the adid of the organic tracker, will that cause issues to the live builds out there?

[2016-11-29 10:20] uerceg commented on #244
I am not sure I understood this question, sorry for that. Can you maybe explain me a bit more what do you think when saying `use the adid of the organic tracker`?

For the record, organic tracker is the tracker token which is automatically created on the dashboard for you and all non-attributed installs are assigned to that tracker. On the other side `adid` is the identifier for each device which

[2016-11-29 10:26] hearbeathorror commented on #244
I thought that the adid i was receiving in the response points to the "Organic" adjust tracker. But i somehow managed to forget the device using the android_id attribute. And i got the tracker_name associated with the tracker_token in the response. Does that mean it works ?

[2016-11-29 10:32] uerceg commented on #244
In the response from the backend, you can find pretty much 7 attribution properties which we're later reporting to you in the attribution callback as well: tracker token, tracker name, campaign, network, creative, adgroup, click label. Not all of these properties are set up, so some of them have no values, that's of course dependant on how user have set the campaign. But when testing with test tra

[2016-11-29 10:36] hearbeathorror commented on #244
Perfect!.. Thanks alot for your help :).. Any reasons why i might have had to forget the device first ? Will this happen in real scenarios ?

[2016-11-29 10:49] uerceg commented on #244
Well, the thing is that once you have installed the app on your test device, for the first time when that happened, our backend tracked an install of that app on that device and assigned some attribution to it. In your case, probably organic one. As far as our backend is concerned, when it comes to your app on that test device, attribution will be organic unless it changes at some point. Change of

[2016-11-29 10:57] hearbeathorror commented on #244
I understood .. So can reattribution take place ever from code ? Is there a way to know that the tracker currently sent and the one it is attached to is different hence reattribution is required ?

[2016-11-29 11:16] uerceg commented on #244
Lemme explain reattribution a bit.

Reattribution is process in which attribution of your user changes for some reason. This change is not initialised from code of your app.

In the dashboard, there is a setting in which you can set something which is called reattribution window. This value represents time which, if elapsed, your user who was inactive in using your app for that time is a candidate

[2016-11-29 11:22] hearbeathorror commented on #244
Oh okay. So that means , if a user has a preinstalled app with a certain token, then in that case, if the user does not use the app for some couple of days as per the settings, and now the user clicks on some campaign, in that case, his attributions will change, and it would no longer be part of a preinstall app correct?

[2016-11-29 11:28] uerceg commented on #244
Nope.

Let's you have set pre-installed tracker token for your user (let's say `abc123` tracker token). Your user downloads the app and installs it. Install which we track will be assigned to `abc123` tracker token in your dashboard. If your user at some alter point of time gets reattributed (let's say to tracker with token `def456`), that just means that his attribution changed, but install which

[2016-11-29 16:53] #171 closed

[2016-12-01 07:45] hearbeathorror commented on #244
Hi @uerceg  - Thanks alot for the explanations. I passed them over to the Project Manager and i am sure they know what should be done. Incase i need help regarding setting the inactive period, please let me know where i should look into or may be some screenshot where i need to set it on the admin panel.

Thanks once again

[2016-12-01 07:53] uerceg commented on #244
Hi @hearbeathorror

No problemo. For those settings, you can go to your app in the dashboard and select `Attribution` and then `Reattribution Settings`. All settings you can find in there are explained as well.

Again, make sure that you fully understand what can be caused by changing these values and the best person to talk to in that case is your account manager from the adjust.

Glad that it al

[2016-12-01 07:53] #244 closed

[2016-12-02 13:26] avinz commented on #237
@uerceg So this issue is still present and adjust doesn't guarantee do send deeplink just after app install?

[2016-12-02 13:52] uerceg commented on #237
Hi @avinz

And sorry for the delayed answer. So, are you facing this problem with Android 4.10.4?

I would really like to see how log output looks like for your test device if you do the following scenario:

1. Uninstall the app completely from your test device.
2. Forget your test device from our backend by hitting the forget URL.
3. Make a click to some URL which has deep link information in it.

[2016-12-02 18:40] avinz commented on #237
@uerceg Logs witch Ive posted in previous post are same as I receive now.

[2016-12-02 18:44] uerceg commented on #237
@avinz Can you show me how does the tracker URL which contains deep link info looks like which you are using to test deferred deep linking scenario?

[2016-12-02 18:49] avinz commented on #237
@uerceg If I understood you correct, this sis the link with I get from adjust link.

https://play.google.com/store/apps/details?id=packet.packet&referrer=adjust_reftag%3Dreftag%26utm_source%3Dappname%253A%252F%252Ffirstpart%252Fsecondpart

I use reftag and source in adb shell request

am broadcast -a com.android.vending.INSTALL_REFERRER -n app.app/com.adjust.sdk.AdjustReferrerReceiver --es "referr

[2016-12-02 19:01] uerceg commented on #237
Ah, no no. This is not how you are testing the deferred deep links. Broadcast receiver which gets install referrer info (and forwards them to our backend) is used to properly attribute the user which got redirected to the Play Store by clicking on some tracker URL.

In order to test deferred deep linking, first you need to enable it for your app, like described in here: https://github.com/adjust/a

[2016-12-05 15:47] avinz commented on #237
@uerceg So it only possible to test by installing only from market after clicking on adjust link with deeplink in it?

[2016-12-05 15:50] uerceg commented on #237
@avinz Not necessarily from the market. You don't even need to have app on the Play Store which supports this. You can do all locally with your debug version of app which has deep linking handling enabled, adjust SDK log level set to verbose and environment to sandbox. Once you click adjust link, if your app in the store, you will be redirected to the store on the page of your app, but you don't n

[2016-12-05 16:15] avinz commented on #237
@uerceg I've made following steps :

1)Forgot device with link "http://app.adjust.com/forget_device?app_token={app_token}&android_id={device_id}}"
2)Clicked on link on the device https://app.adjust.com/{tracker_id}?deep_link={package}%3a%2f%2f{some}%2f{some} (this link works with insalled app)
3)Installed application from Studio and launched it. Mode - sandbox. Log - Verbose.

Here are the logs wi

[2016-12-05 16:19] uerceg commented on #237
In the attribution request response, I see this in your logs:
[code]
Is value of `"attribution"` key in this JSON `{}` and that is what you have get as a response?

[2016-12-05 16:23] avinz commented on #237
@uerceg Yes, this is from logs, i dint hide there anything :)

[2016-12-06 02:53] hearbeathorror commented on #244
@uerceg - Hi !. I am sorry i had to bother you again, but i tried forgetting the device, and the issue i was talking about has come back again. Is there something really wrong in the way things are configured in the admin panel? Will you please let me know how to approach this ?

Thanks

[2016-12-06 11:48] marwinxxii opened #247 "java.io.InvalidClassException messages in log"
Hi everyone, I see a lot of following messages in log:

`Failed to open Activity state for writing (java.io.InvalidClassException: com.adjust.sdk.v doesn't have a serializable field askingAttribution of type boolean)`

`Failed to open Package queue for writing (java.io.InvalidClassException: com.adjust.sdk.u doesn't have a serializable field activityKind of type class com.adjust.sdk.ActivityKind)`

[2016-12-06 12:20] nonelse commented on #247
Hi @marwinxxii. The serialization should not be related with the proguard configuration.
Are you by chance migrating from an older version of the adjust sdk? If so, which one?

[2016-12-06 15:51] marwinxxii commented on #247
No, it's first time sdk was integrated.
May guess was that, these fields may have been renamed by proguard.

[2016-12-06 16:05] nonelse commented on #247
that is a possibility, but it is strange that only two of the various fields of [ActivityState](https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/ActivityState.java#L23) would be affected.
Can you provide more information, like which Android version are you testing on, and if you can reproduce the issue consistently?

[2016-12-08 06:24] avinz commented on #237
@uerceg Hey, any news?)

[2016-12-08 06:26] uerceg commented on #237
Hey. Yes, can you check again? :) Some of the SDK versions had the old relict behaviour that attribution was not being asked for unless attribution callback was not implemented in the app (which is the case in your app as far as I see from logs). We made backend to give us this info now either way. Can you retry and lemme know if it worked?

[2016-12-08 07:11] avinz commented on #237
@uerceg Woohoo, finally works :) Tested several times, opens deeplink immediately after first launch. Thank you!

[2016-12-08 08:25] uerceg commented on #237
Great news, glad it worked!

Cheers.

[2016-12-08 08:25] #237 closed

[2016-12-08 16:02] stufan opened #249 "Bug in the example for setting Google Analytics cid parameter"
According to https://docs.adjust.com/en/special-partners/google-analytics/#adjust-sdk-and-google-analytics-sdk to override Google Analytics cid parameter to be equal to the one from Adjust the example states the following code:

  mTracker = analytics.newTracker(R.xml.global_tracker);
  Adjust.getGoogleAdId(this, new OnDeviceIdsRead() {
      @Override
      public void onGoogleAdIdRead(String goo

[2016-12-09 07:53] uerceg commented on #249
Hi @stufan

And thanks for reporting this.

Google Play Services Advertising Identifier can not be accessed from the main thread, but it rather needs to be performed in the background. That's the reason why we're having this callback mechanism for obtaining it's value.

You say: `which basically means that the entire Adjust.getGoogleAdId() completes slightly earlier than mTracker.set("&cid", googl

[2016-12-09 11:58] avinz commented on #237
@uerceg Hey there again xD
Faced new issue. I've tested on Nexus 5 and 5x, everything works perfect. I receive deeplinks, then I can forget the device by device ID and receive again.
My colleagues tested on Huawei P9 Lite and OnePlus 2 and nothing works. Though they make the same flow, no deeplink and when I request forget with their ID's replies "Device not found". Tested on same app versions.

[2016-12-13 12:05] avinz commented on #237
@uerceg Still facing this issue, cant figure out what can be the problem.

[2016-12-13 12:44] uerceg commented on #237
Hi @avinz

Sorry for the delay. Hm. The whole flow shouldn't be related to the device.

Can I get the same logs from the test flow like you sent them few posts above?

[2016-12-13 15:50] avinz commented on #237
@uercegI found the issue, should use adid to forget, not the device ID.
So if I understood correct, one device can get deferred deeplink only once without using forget device? Cause I saw in logs on other devices - "Session request check interval failed (Ignoring too frequent session. Last session: 2016-12-13T15:23:54, this session: 2016-12-13T15:30:37, interval: 6m43s, min interval: 20m) (app_tok

[2016-12-13 15:57] uerceg commented on #237
Well, this message means that you deleted the app from the device and reinstalled it sooner than 20 minutes after deletion, but you `didn't forget the device from our backend`. New app installation initialises the SDK for the first time within that app installation and our SDK by default sends session package first to the backend. But backend doesn't take too frequent session requests into conside

[2016-12-13 18:38] avinz commented on #237
@uerceg As i understood.
Deeplink should arrive when :
1)User installs and opens app firstly on device after clicking on adjust link with deeplink
2)User deinstall app, and installs it again after 20 minutes with the click on same adjust link

Is that correct?

[2016-12-13 19:00] uerceg commented on #237
1) Yes
2) Yes and no, depends. In this case, there's one additional condition that needs to be fulfilled -> new installation from same user needs to happen outside of `reattribution window` time which is set on your adjust dashboard.

More elaboration on case 2: After your user uninstalls the app, at this moment, we're not marking this uninstall on the backend side, so for our backend, your user s

[2016-12-13 20:16] avinz commented on #237
@uerceg Ah, in adjust settings of the app there is "INACTIVE USER DEFINITION", it is set to 7 days, so I suppose in our case should pass 7 days, not 20 minutes. Right?

[2016-12-13 20:35] uerceg commented on #237
@avinz Exactly.

[2016-12-14 03:58] hearbeathorror commented on #244
@uerceg - Hi!.. A small question for you . I saw the reattribution and attribution window and the values sets are 0 and 7 for attribution. However, when i was testing , if i dont use the application for a couple of days, it wud get associated with organic, until i forget the device manually. Is there a way i could ensure tht i dont hve to forget the device and it wud not get associated to organic

[2016-12-14 07:35] uerceg commented on #244
Hi @hearbeathorror

As far as those numer values are concerned, my advice to you is to check with your account manager what to set for them in case you are unsure about their meaning. It influences the number of reattributions of your users, so I guess if you are unsure about what to put in there, check with your AM from adjust.

I did not quite understand this sentence in which you are saying tha

[2016-12-14 22:19] uerceg commented on #249
Hi @stufan

Any update on this?

Cheers

[2016-12-16 05:06] hearbeathorror commented on #244
@uerceg : The idea is to keep a preinstalled app associated to a particular tracker value unless it is forcibly reattributed from the admin panel.

Unfortunately for testing in-house purposes i have to manually forget a device to make things work as they should. Even when the configuration is as under (in the attached images). We have the re-attribution settings set to 0, and the attribution set t

[2016-12-20 07:40] stufan commented on #249
As GA SDK is not open sourced my suggestion is to make the call for Google Ad Id on the main thread as it is pretty fast and won't block the execution of the app. At the same time it will simplify the usage of Adjust SDK.

[2016-12-20 07:47] uerceg commented on #249
It is not possible to get Google Play Advertising Id on the main thread.

Reference: https://developers.google.com/android/reference/com/google/android/gms/ads/identifier/AdvertisingIdClient#getAdvertisingIdInfo(android.content.Context)

[code]

This is why it must be done asynchronously and be accessed in the way like it is implemented in the SDK.

Would be nicer if it could be accessed in the ma

[2016-12-21 06:41] hearbeathorror commented on #244
@uerceg - i have one more question .. would this work with android-criteo 4.7.0 ?? The issue i had from the start or does the updated version also have an internal fix for this too ?

[2016-12-21 07:02] hearbeathorror commented on #193
@Obaied - is this true that a fix for this was made in Adjust 4.10.4 ? or rather higher versions than 4.7.0 ?

[2016-12-21 07:49] uerceg commented on #244
Hi @hearbeathorror

Sorry for a bit delayed answer. Lemme try to answer to your both posts from above.

https://github.com/adjust/android_sdk/issues/244#issuecomment-267517938: First thing, I didn't quite understood what do you think when you say `forcibly reattributed from the admin panel`? Can you explain this a bit?

Setting `INACTIVE USER DEFINITION` to 0 should cause you user being constantly

[2016-12-21 07:53] uerceg commented on #193
@hearbeathorror This pretty much looks like testing flow described in your issue (https://github.com/adjust/android_sdk/issues/244) should be checked.

This flow (reattribution with the deep links) is unchanged throughout versions 4.7.0 - 4.11.0 and should work with any of them.

[2016-12-26 04:34] hearbeathorror commented on #244
@uerceg  - Hi!.. Forcibly reattributed means that, unless i forcibly assign a tracker to organic it should point to the adjust value it was associated with from the start.

Setting INACTIVE USER DEFINITION to 0 should cause you user being constantly reattributed when ever he/she clicks maybe on a different tracker URL. -> For this setting, does that mean, if i click on any url or probably if i use

[2016-12-26 08:45] uerceg commented on #244
Aah, you are talking about the default tracker.

So yes, if you choose to set default tracker option on the AdjustConfig object, instead of organic tracker, your installs will be associated to some default tracker that you have created in your dashboard. After that, reattribution flow happens pretty much as always, so regardless of where install was associated (organic or your default tracker).

I

[2017-01-03 10:59] pqtuan86 opened #259 "Manually appending attribution data to a deep link but the reattribution is not triggered."
Hi folks,

The issue i'm facing with is quite same with the #193, but i used myapp://prod_view?adjust_tracker=tracker123&adjust_campaign=campaign01&adjust_adgroup=adgroup01&adjust_creative=creative01.
I use Charles to monitor the request and can see the sdk_click value, its values are correct. But all the subsequent event response values are pointing to Organic tracker ( the default one - i think)

[2017-01-06 11:33] uerceg commented on #259
Hi @pqtuan86

Is this sequence of all packages which is being sent when you do the testing? When `sdk_click` gets fired, there should be `session` package being sent if you tested it after 30 minutes.

So, flow should be:

1. You use the app with some attribution value and close it / put it to background.
2. Wait for 30++ minutes.
3. Then hit the link.

In this moment `sdk_click` and `session` pac

[2017-01-06 11:46] uerceg commented on #249
Hi  @stufan

Is it okay to close this issue?

Cheers

[2017-01-06 16:04] stufan commented on #249
I think so

Thanks

Sent from my iPhone

[2017-01-06 16:33] #249 closed

[2017-01-12 10:24] pqtuan86 commented on #259
Hi @uerceg

Thanks for your response.

Updating the SDK to the latest one and wait for 1 hour, now it's working properly!

[2017-01-12 10:24] #259 closed

[2017-01-12 22:00] jbrick opened #260 "Unpublish 4.10"
I accidentally used this release from https://github.com/adjust/android_sdk/releases without realizing it has a bug with the thread pool keep alive. It should probably be unpublished.

[2017-01-13 16:57] Obaied commented on #260
Hey @jbrick
Thanks for reporting the issue. We attached a warning and removed the JAR files from the *Releases* page for the related SDK versions.

[2017-01-16 02:44] hearbeathorror commented on #244
@uerceg  - Thanks for all your help.. I apologize for the delayed response.

[2017-01-20 14:23] #260 closed

[2017-01-20 14:24] Obaied commented on #247
@marwinxxii Can you please update us with more info?

[2017-01-23 11:08] uerceg commented on #247
@marwinxxii We have updated `Proguard settings` chapter in our README (https://github.com/adjust/android_sdk#sdk-proguard). Please check it out, use those rules and this issue shouldn't appear anymore. If it still persists even with these rules, please let us know.

Cheers

[2017-01-27 18:03] maltzj opened #264 "When should session callback parameters be sent so that they're attached to the installation event?"
We're interested in attaching metadata to Adjust's installation event so that we can pass that information to one of our callbacks.

In order to do that, should we call `Adjust.addSessionCallbackParameter` before or after we call `Adjust.onCreate()`?

[2017-01-29 21:00] nonelse commented on #264
if it has to be sent with the install package, it must be done before `Adjust.onCreate()` is called. Can you get the information at start time?

[2017-01-31 12:28] Bendor opened #265 "Adjust create TOO much threads!!"
On some devices (probably android version < 5.0 ) Adjust creates a lot of treads (thousands per minute!)
It strongly flood CPU and GC!
_Reprodused on _Sony C1905 (android 4.3)_, _Fly IQ4410 quard (android 4.2.1)_, HTC One X (android 4.2.2),  Galaxu Nexus (android 4.3) etc..._
Cannot reproduce on android 5.0 and above!
Adjust version 4.11.0

Logs (from Fly IQ4410):
[code]

[2017-01-31 14:02] nonelse commented on #265
Hi @Bendor. We do have a custom Excutor that you can see it [here](https://github.com/adjust/android_sdk/blob/master/Adjust/adjust/src/main/java/com/adjust/sdk/CustomScheduledExecutor.java), but we have not noticied this pattern before.
Can you turn on verbose logging in the adjust sdk to see if it's logging at the same time?
What sort of calls are being made to the sdk? Maybe you can provide shor

[2017-02-01 11:57] trebouillon opened #266 "android.os.DeadObjectException"
This crash occurs while startup of the app and the SDK tries to get the app info. This happens on almost 99% on devices with Marshmallow and mostly Samsung as manufacturer.

I am using "**com.adjust.sdk:adjust-android-criteo:4.7.0**".

0 java.lang.RuntimeException: Package manager has died

1 at android.app.ApplicationPackageManager.getPackageInfo(ApplicationPackageManager.java:198)

2 at com.adju

[2017-02-03 17:19] Bendor commented on #265
The same story on Android Studio emulator (android 4.3 as example)
see http://prntscr.com/e42v07

[2017-02-03 17:19] Bendor commented on #265
Logs:
[code]

[2017-02-03 17:21] Bendor commented on #265
My adjust config:
[code]

[2017-02-07 13:39] Bendor commented on #265
see also http://prntscr.com/e5muci

[2017-02-08 11:08] Obaied commented on #265
Hey @Bendor
Thanks for reporting the issue. We found what the problem is and will release a fix in the next version.

[2017-02-08 11:25] Bendor commented on #265
Thanks!

[2017-02-09 13:40] Obaied commented on #266
Hey @trebouillon.
Can you try to update to the latest version of Criteo (v4.11.0)?
Here's the doc: https://github.com/adjust/android_sdk/blob/master/doc/english/criteo_plugin.md

Also, where do you store your app's version? Our SDK retrieves the app's version the `versionName` parameter inside your app's `build.gradle`. Please refer to this page for a code example: https://developer.android.com/st

[2017-02-09 13:42] Obaied commented on #247
@marwinxxii we'll close the issue for now. Please feel free to reopen it if the issue occurs.

[2017-02-09 13:42] #247 closed

[2017-02-09 13:43] Obaied commented on #235
I'll close the issue for now. Feel free to reopen it if necessary

[2017-02-09 13:43] #235 closed

[2017-02-09 13:43] Obaied commented on #203
I'll close the issue for now. Please feel free to reopen it if necessary

[2017-02-09 13:43] #203 closed

[2017-02-09 13:44] Obaied commented on #196
I'll close this issue for now. Please feel free to reopen if necessary.

[2017-02-09 13:44] #196 closed

[2017-02-09 13:45] Obaied commented on #193
@hearbeathorror Do you still face the same issue? Please update us on the progress.

[2017-02-09 13:46] Obaied commented on #215
I'll close this issue for now. Please feel free to reopen when necessary

[2017-02-09 13:46] #215 closed

[2017-02-09 13:46] Obaied commented on #264
@maltzj Can you please update us on your progress? Are you still facing the same issue?

[2017-02-09 17:49] maltzj commented on #264
Sorry for the delay! We can get that info on Application.onCreate, so we should be good to go!  Than you for your help!

[2017-02-09 17:49] #264 closed

[2017-02-10 11:17] nonelse commented on #265
![](https://github.trello.services/images/mini-trello-icon.png) [Review Abdullah android Custom Executor](https://trello.com/c/mi3Koztr/2-review-abdullah-android-custom-executor)

[2017-02-10 14:02] trebouillon commented on #266
I didn't try the newest version so far. But I can check this with my next major release. And the version name is set in my build gradle.

[2017-02-13 10:17] Obaied commented on #266
The exception is happening because the PackageManager couldn't retrieve the app version. My guess is that one of two things is the problem:
- app version is not getting read properly for some reason
- the context object that is getting supplied to our SDK (from `AdjustConfig`) is somehow not being able to retrieve the package manager (thus creating the *DeadObjectException* that `package manager h

[2017-02-15 13:07] Bendor commented on #265
@Obaied
Could you give the approximate dates of a next release?

[2017-02-15 13:33] Obaied commented on #265
We're working on it and we'll try to push a release ASAP. I hope you can be patient with us.

[2017-02-16 10:15] Bendor commented on #265
@Obaied Could you give the latest adjust version number without this problem?

[2017-02-17 12:35] Obaied commented on #265
@Bendor We will release a patch in the next 1-2 weeks to fix this issue. For now, I can't guarantee that previous versions didn't have this issue.

From what I can see, the issue is not causing any crashes since we're just creating the thread and it times out after a certain delay (10ms). Its not a good scenario in any case, but I assure you it won't crash since the overhead is tiny. Also, we're o

[2017-02-21 14:56] trebouillon commented on #266
Sorry for my late answer. This is how its look like in my app:

[code]

And the initialization of Adjust:

[code]

In my case the context is the application context. When the `onCreate()` method of the application class is called Adjust will be initialized.

[2017-02-22 12:07] Obaied commented on #266
Can you provide us with the version of adjust SDK are you using? you mentioned which criteo-adjust version, but not the SDK version.

[2017-02-22 12:21] trebouillon commented on #266
It is the same. I only include the Criteo Gradle dependency and this includes the same version of Adjust SDK, or am I wrong?

[2017-02-22 12:31] Obaied commented on #266
I believe so. Is it possible to try the following...
- Remove the criteo gradle dependency
- Add those two dependencies:
[code]

Let me know how it goes :)

[2017-02-22 13:12] Obaied commented on #266
Worst case scenario if that doesn't work, we are releasing a new version that has proper exception handling for retrieving app versions so you won't have this crash anymore. We're already working on it.

[2017-02-23 11:08] trebouillon commented on #266
I will give it a try with the next release. This might take a while :)

[2017-02-25 20:27] MichaelRocks commented on #265
Nevertheless, this issue seems to cause native crashes in `libdvm.so`. We see quite a lot of them after integrating Adjust into our app. Here's a [link](https://community.spotify.com/t5/Android/Airis-TM420-Spotify-hangs-in-suspended-mode/m-p/1544503) to a very similar crash in Spotify that is probably caused by this issue.

[2017-02-25 20:34] uerceg commented on #265
Hi @MichaelRocks and thanks for the reports.

Next SDK patch version (4.11.1) will contain fix for this issue. Will be live beginning next week.

Will keep you posted about the release in this issue.

Cheers

[2017-02-27 16:00] uerceg commented on #265
Hi folks.

This should not happen anymore as of latest SDK release (https://github.com/adjust/android_sdk/releases/tag/v4.11.1).

Feel free to reopen the issue if the problem still occurs with newest SDK version.

Cheers

[2017-02-27 16:00] #265 closed

[2017-02-27 16:02] uerceg commented on #266
This should now be resolved with latest Android SDK v4.11.1 release (https://github.com/adjust/android_sdk/issues/266).

Feel free to reopen the issue if the problem still happens to occur with newest SDK version.

Cheers

[2017-02-27 16:02] #266 closed

[2017-03-06 12:19] oizo opened #269 "API doesn't seem to forget session as expected"
I've been testing your deferred deeplinking, using the `OnDeeplinkResponseListener` interface.

But when i try to 'forget' my device as described here `https://github.com/adjust/android_sdk/#ts-session-failed` only the method using `{gps_adidValue}` seems to work. From what I understand from the docs, calling any of the three endpoints should 'forget' my device. Is this expected behavior?

[2017-03-06 12:26] oizo commented on #269
I also created a small bash script to perform the test for me:

[code]

[2017-03-06 13:07] uerceg commented on #269
Hi @oizo

Hm. That should not be the case. All three described methods should work, you should just make 100% sure that you are creating URLs with correct IDs.

When you track a session or event, check verbose logs for (in that moment) current values of `android_id` and `adid` that is our backend generating for you and providing it in the response to each tracked package and it should work.

[2017-03-06 21:00] oizo commented on #269
OK, so I just setup a fresh emulator, and set the Adjust loglevet to `LogLevel.VERBOSE`. And got this in LogCat:

[code]
and

[code]
I created this little bash script to do some testing of the deferred deeplink flow in Adjust [adjust-deferred-deeplink-test.sh](https://gist.github.com/oizo/a6336adb67e1195b86bae53983870f84), when run i get the following output (for both my Huawei Nexus 6P, and the e

[2017-03-10 08:49] Obaied commented on #269
Hey @oizo. I believe there is a tiny syntax error in your BASH code here: https://gist.github.com/oizo/a6336adb67e1195b86bae53983870f84#file-adjust-deferred-deeplink-test-sh-L20

`&{ADID}` should be `${ADID}`. Please try to run it again and let us know how it goes.

[2017-03-10 08:50] Obaied commented on #269
That is a really cool script you created there! We might use it for internal testing even :D

[2017-03-13 12:16] oizo commented on #269
Ok, so i figured what I've been doing wrong. First, I thought this line: `android_uuid     408ca151-e800-4c6b-bf60-e0ba90d88ff6` from the log output represented what was referred to as `android_id`, partly because it has different spelling in the docs (`androidIDValue`), so it seemed resonable to me. And second is that if Google Play services is available, the `android_id` won't be set/used in `De

[2017-03-13 12:16] #269 closed

[2017-03-14 10:21] oizo commented on #269
I've updated the script to test the deferred deeplink, it's actually automated now, though still working if there is only one device connected:
https://gist.github.com/oizo/59e23e119862f49a10fb4c525866d00c

[2017-03-15 08:47] mustafaberkaymutlu commented on #172
Hi @uerceg

I am facing the same problem when I try to add both Criteo and Sociamantic plugins.

This doesn't work:
    compile 'com.adjust.sdk:adjust-android:4.11.1'
    compile 'com.adjust.sdk:adjust-android-criteo:4.11.1'
    compile 'com.adjust.sdk:adjust-android-sociomantic:4.11.1'

This also doesn't work:
    compile 'com.adjust.sdk:adjust-android-criteo:4.11.1' // Adjust + Criteo
    compil

[2017-03-15 09:05] uerceg commented on #172
Hi @mustafaberkaymutlu

You should not add both those lines into your gradle file since our SDK version for specific plugins contain original SDK as well which you are already importing with the first line you wrote in your example. Thus the duplications.

Our packages `adjust-android-criteo`, `adjust-android-sociomantic` and `adjust-android-trademob` are simply our original SDK extend with functi

[2017-03-17 08:20] mustafaberkaymutlu commented on #172
Hi @uerceg

Thanks for your quick response!
As you said I ended up importing the source files of Criteo and Sociomantic into my project. I added them together as a separate Android module.

Thanks
Best regards

[2017-03-17 17:09] andreykadatsky commented on #123
Hi guys, I have 88 logs in crashlytics with the same issue (Adjust 4.11.1) for last week.
It happens when I call `Adjust.onPause();` in the Activity#onPause().
Could you suggest something?

[code]

[2017-03-17 17:14] Obaied commented on #123
Hey Andrey

Can you send us the SDK initialization codes? Just wanna see how this
OutOfMemory Exception occured.

On Mar 17, 2017 6:09 PM, "Andrey" <notifications@github.com> wrote:

Hi guys, I have 88 logs in crashlytics with the same issue (Adjust 4.11.1)
for last week.
It happens when I call Adjust.onPause(); in the Activity#onPause().
Could you suggest something?

java.lang.OutOfMemoryError: p

[2017-03-18 12:54] rimmer commented on #123
Hey, @Obaied, I'm working with @andreykadatsky.
Will try to clarify.

[code]

[2017-03-21 16:40] uerceg commented on #123
Hi @andreykadatsky and @rimmer

We're investigating this on our side, still unable to reproduce it. In the meanwhile, out of curiosity - is crashlytics showing any other Out Of Memory exceptions in your app which stack trace does not include Adjust SDK?

Cheers

[2017-03-21 16:44] uerceg commented on #123
Also, is there some certain API level on the devices on which this issue is being seen or is the API level distribution random?

[2017-03-21 17:17] andreykadatsky commented on #123
@uerceg Thanks for reply. Yes there was another OutOfMemoryError, but it was connected with  Timer memory leak on Samsung devices, and we already fixed it.

About devices & api versions of issue connected with Adjust SDK:
Top devices: XIAOMI REDMI 3, ONEPLUS A3003, SAMSUNG SM-A9000, SAMSUNG BQ3, lenovo k50-t3s.
OS version: 5.0.2 - 7.1.1 (mostly 5.1)

[2017-03-27 07:24] egemenhamutcu opened #272 "Could Not Find The Impressions on ReadMe"
How can I implement every page view reporting to Adjust? You have Impressions in your docs, right? [https://docs.adjust.com/en/impression-tracking/](https://docs.adjust.com/en/impression-tracking/)

[2017-03-27 07:34] uerceg commented on #272
Hi @egemenhamutcu

Impression tracking feature is something that (function wise) has nothing to do with SDK, thus it's not written in README. That feature is something you can enable in your dashboard to see if some of your users are getting attributed to impressions and not only clicks. For that, you need to use different URLs for your impression(s) source(s) and the whole logic behind this featu

[2017-04-04 09:07] dpoetzsch commented on #272
I'm not sure but I think there is some confusion going on here.

One thing is page view tracking. For example we'd like to track every Activity the user opened to get a feeling of the user flows. We want to forward this data to google analytics as page views (not events!). Is something like this possible?

Impression tracking is something very different, right? As far as I get it impression tracki

[2017-04-04 11:14] uechoco opened #274 "Does ANDROID_ID handling change for Android O?"
https://developer.android.com/preview/behavior-changes.html

The specification of ANDROID_ID is changed in Android O.
The Adjust Android SDK is collecting ANDROID_ID now.
Does ANDROID_ID handling of Adjust SDK change for Android O?
Or can I continue using the current SDK?

[2017-04-04 11:17] uerceg commented on #274
Hi @uechoco

This upcoming change is already handled by our system out of the box. If there is any need for SDK update in order to support Android O, will be announced.

Cheers

[2017-04-04 11:25] uechoco commented on #274
Thanks!

[2017-04-04 11:40] egemenhamutcu commented on #272
Our team have decided to use event tracking for page views.

[2017-04-04 11:43] uerceg commented on #272
From what I see by reading these screen hits docs, for me it seems something that I would do like @egemenhamutcu suggested - simply creating event for that purpose and track it once screen gets opened.

Is there some reason why this approach wouldn't work for you maybe @dpoetzsch ?

[2017-04-04 12:04] egemenhamutcu commented on #272
It would be better to advance ReadMe for those who is having the same confusion with me

[2017-04-04 13:02] andreykadatsky commented on #123
@uerceg @Obaied any update?

[2017-04-04 13:23] dpoetzsch commented on #272
@uerceg Actually this is what we tried so far. We track an event and set the `cd` partner parameter to the activity name. The `ActivityLifecycleCallbacks` come in very handy for that.

However, we are stuck when it comes to properly forwarding the event data to google analytics. We can forward it as an event, no problem. But from what I understand google treats events and screen hits differently.

[2017-04-04 13:23] Obaied commented on #123
Hey @andrey. We've ran an extensive memory usage check on the API level you specified. Our RAM footprint is minimal.

Adjust.onPause() basically just writes the state of the SDK to an external file for later retrieval. It's not a huge data dump.

Can you tell us how are you reproducing the issue? That info would help us.

[2017-05-04 08:25] Obaied commented on #193
@hearbeathorror I'll close the issue for now due to inactivity. Feel free to reopen if the situation resurfaced.

[2017-05-04 08:25] #193 closed

[2017-05-04 13:22] Obaied commented on #274
@uechoco Could you please close the issue?

[2017-05-04 13:26] #274 closed

[2017-05-15 11:32] gowthamidommeti opened #281 "Not Getting the Clicks count in adjust Deliverable tab"
Hi

Iam using adjust for my project. it displays the installs count from organic and facebook installs.But it not displaying the clicks count "0".Please help me to how to increase the clicks count.

[2017-05-15 12:08] uerceg commented on #281
Hi @gowthamidommeti

In here we're answering only to the SDK related issues and this is something that our account managers would be able to give you the answer to.

Please, feel free to contact them by sending this issue description in email to support@adjust.com.

Cheers

[2017-05-15 12:08] #281 closed

[2017-05-15 12:08] uerceg commented on #281
Hi @gowthamidommeti

In here we're answering only to the SDK related issues and this is something that our account managers would be able to give you the answer to.

Please, feel free to contact them by sending this issue description in email to support@adjust.com.

Cheers

[2017-06-08 15:01] humanooos opened #283 "Problem with custom artibutes"
Hello I am trying to implement deep link but add an extra parameter.
This is the link that I am trying to use:
`https://app.adjust.com/{trackerId}?deep_link=myApp://&GO_TO=somewhere`

Unfortunatelly I get this data:
`myApp://?adjust_tracker={trackerId}&adjust_reftag=cxXqVSMgqKhxo`

As you can see I can't find the GO_TO parameter anywhere.
Am I doing something wrong?

[2017-06-08 16:09] uerceg commented on #283
@humanooos This is something that you should definitely ask you dedicated account manager to help you with to be sure that you have build your tracking URLs properly. The thing I will advise you might work, but like I said, please double check with our support team if tracking URL is the right one for your use case.

From what I can see, I would maybe advise trying to URL encode content of `deep_l

[2017-08-03 13:23] Obaied commented on #283
Hey @humanooos If your problem is solved, please close this issue.

[2017-08-04 13:26] #283 closed

[2017-08-10 12:27] iPhoneyDev opened #292 "Issue with latest Android studio 2.3.3"
When I run the follwoing gradle command

 **./gradlew -q dependencies app:dependencies --configuration compile --stacktrace**

I got the following error

**org.gradle.api.GradleScriptException: A problem occurred evaluating project ':adjust'**

There is a version mismatch in com.google.android.gms services. Can any one help me on this.

Thanks

[2017-08-11 12:19] uerceg commented on #292
@iPhoneyDev

Are you running that command inside of your application folder? How did you add Adjust SDK to your app? Can you give us the whole output from the command you are running?

`com.google.android.gms` is not required by our SDK and shouldn't be automatically imported, this is something you are adding to your app on your own to `build.gradle` configuration file in case you are publishing y

[2017-08-23 19:03] lawloretienne opened #294 "Building the app with basic sdk integration doesn't show Install tracked in the logs"
So i should be seeing `Install tracked` in the LogCat
https://github.com/adjust/android_sdk#build-your-app

instead it logs the following

[code]

Are there some more things that need to be configured in the dashboard?

[2017-08-23 19:10] uerceg commented on #294
@lawloretienne

To have better overview on what's happening inside of the SDK (all the logs), when testing maybe try to set log level to `verbose` to get as much as info as possible from the SDK (https://github.com/adjust/android_sdk#adjust-logging).

Did you pay attention to this chapter of the README: https://github.com/adjust/android_sdk#session-tracking ?

This is important, since `Adjust.onCr

[2017-08-23 19:17] uerceg commented on #292
@iPhoneyDev

Any update on this one?

[2017-08-23 19:21] uerceg commented on #272
@dpoetzsch

Sorry for a delay on this one.

This is actually kinda out of our scope and actually a thing that you should ask our account management team. In case you have a dedicated account manager, feel free to approach with this question or if not, feel free to ask this in email which you can send to support@adjust.com.

Also feel free to write in there any suggestion you are having when it com

[2017-08-23 20:57] lawloretienne commented on #294
Thanks so much for the speedy response.  I was calling `registerActivityLifecycleCallbacks()` in an if block but not calling it in an else block.  So the `Adjust.onResume()` never got called.  I fixed that so its working now.  I can see the `Install tracked` and `Attribution found` in the LogCat.

[2017-08-23 20:57] #294 closed

[2017-09-05 17:25] jozuasijsling opened #295 "Does INSTALL_REFERRER receiver still work on Android Oreo?"
Hi there,

We're upgrading our target and compile SDK versions to Oreo, and we're curious how Adjust deals with the new [limits on broadcast receivers](https://developer.android.com/about/versions/oreo/background.html#broadcasts). Since `INSTALL_REFERRER` is not part of the announced [exception list](https://developer.android.com/guide/components/broadcast-exceptions.html), we're worried that the

[2017-09-05 17:34] jozuasijsling commented on #295
My guess is that Android sends this intent only to the package that was installed. If so, it's an explicit intent and it should not be affected by the new limitations.

[2017-09-05 17:46] uerceg commented on #295
Hi @jozuasijsling,

Correct. `INSTALL_REFERRER` is something that in this Google's definition (explicit vs. implicit) would be named explicit, since it's app specific. Also, this intent is not fired by system, but rather Google Play Services library.

We have tested `AdjustReferrerReceiver` functionality in capturing `INSTALL_REFERRER` intent that we have fired to device running Android O and noth

[2017-09-05 17:48] jozuasijsling commented on #295
Great to hear and thanks for the quick response! 👍

[2017-09-05 17:48] #295 closed

[2017-09-14 15:27] jozuasijsling opened #296 "Lint warning: Exported receiver does not require permission"
Example code from Adjust's `README.md` does not specify a permission.
[code]

**Lint warning**

**Solution?**

Google Tag Manager SDK's [InstallReferrerReceiver.java](https://developers.google.com/android/reference/com/google/android/gms/tagmanager/InstallReferrerReceiver) documentation suggests using `android.permission.INSTALL_PACKAGES` as the permission. Would be great if someone could confirm

[2017-09-15 09:29] Obaied commented on #296
Thanks @jozuasijsling for the great suggestion. We're definitely looking into this.

[2017-09-21 12:07] pocmo opened #297 "Using SDK without play-services-analytics"
We are using the Adjust SDK in open source applications. Having a dependency on the closed source library 'play-services-analytics' is problematic. Is it possible to use Adjust without this dependency or would it be possible to replace this functionality with an open solution?

[2017-09-21 12:10] pocmo commented on #297
This issue is about this part of the SDK setup:

![screenshot-2017-9-21 adjust android_sdk](https://user-images.githubusercontent.com/89638/30694968-95753106-9ed6-11e7-9112-8b439bc757d7.png)

[2017-09-21 12:20] nonelse commented on #297
Hello @pocmo

Like mentioned in the screenshot and in the link about [Google Advertising Id](https://support.google.com/googleplay/android-developer/answer/6048248?hl=en), this limitation is from Google regarding apps in their Play Store, not from the adjust SDK.

The adjust SDK still works properly without the Play Services library, but it will collect device identifiers that break the Google Pla

[2017-09-21 12:44] pocmo commented on #297
@nonelse And I assume there are no other ways to obtain the advertising id?

Compiling against "analytics" lets a lot of folks assume we'd actually use Google Analytics in the app. In addition to that adding this closed source dependency prevents us from creating an app that is completely open-source (and can lead to license incompatibilities).

[2017-09-21 14:04] nonelse commented on #297
We understand your concerns, however, as per Google's policy, all apps that use attribution tracking which are published in the Play Store require the play services dependency, otherwise, they could be rejected from the store.

As the Google Play Services Advertising ID is the main identifier that all parties are allowed to use for tracking and retargeting, most marketing activities do require it.

[2017-09-21 14:11] eldk commented on #297
Hello,

Reading this, I think there is some misunderstanding.

- advertising ID, if available
- in place of any other device identifiers for any advertising purposes.

So, if you are not advertising, you will have not any consequences.

I have one app on playstore that don't use advertising ID, but don't display ads.

You should look at this app :  https://play.google.com/store/apps/details?id=eu.

[2017-09-21 14:22] justandrea commented on #297
Hi,
You are completely right, if you don’t want to run any advertising or do attribution tracking, then the google play services are not needed.
Let me know if you still have any questions!
Thanks,
Andrea

[2017-09-22 11:32] jozuasijsling commented on #296
@Obaied Have you had a chance to test this?

[2017-09-22 13:16] Obaied commented on #296
@jozuasijsling Yep. We tested it. It works without issues. We will update the README accordingly. Much, much appreciate the advice.

[2017-09-22 13:17] Obaied commented on #296
I'll drop a link here when we release the latest version for reference purposes.

[2017-10-12 03:06] danerduo87 opened #298 "Not an issue just a suggestion"
It's opensource and gradle based, so why not publish it to Jcenter.

[2017-10-12 04:22] uerceg commented on #298
Hi @danerduo87

Thanks for the suggestion, we are planning to start distributing SDK via Jcenter as well and will do this most probably starting with some of the upcoming releases.

Cheers

[2017-10-12 04:26] uerceg commented on #297
Hi @pocmo

Are there any other concerns maybe which we didn't address in this issue?

Cheers

[2017-10-12 04:27] uerceg commented on #292
Closing the issue due to inactivity. Feel free to reopen it if the issue is still occurring.

Cheers

[2017-10-12 04:27] #292 closed

[2017-10-12 04:39] uerceg commented on #272
Feel free to reopen the issue in case you have any issues, but like advised, when it comes to this topic, support@adjust.com is definitely better place to ask for help. Cheers.

[2017-10-12 04:39] #272 closed

[2017-10-12 04:58] danerduo87 commented on #298
@uerceg Thanks for your reply, it's Greate!

[2017-10-12 04:58] #298 closed

[2017-10-13 14:02] apo1981 opened #299 "Is it possible to initiate Adjust session out of Application class?"
Hi,
Following your step-by-step integration guidelines, it is indicated that the Adjust.onCreate(AdjustConfig) must be called on our Application class.

This is fine and perfectly works, but I am wondering if it is possible to call - and make work - this method (Adjust.onCreate(AdjustConfig)) out of the Application class. The reason behind that is because we would like to fetch Adjust configuratio

[2017-10-13 14:07] uerceg commented on #299
Hi @apo1981

Sure, you can do that. We do not advise it in general, but in theory it is doable. One thing you need to have in mind is that Adjust.onResume() call actually starts the SDK. So if you maybe do the initialisation (onCreate) in middle of Activity, SDK won’t start until onResume gets called (probably on first transition between activities in your app). So maybe just in case make a call t

[2017-10-13 14:41] apo1981 commented on #299
Thks @uerceg . I was missing to add Adjust.onResume(). I am forcing after onCreate, and it works

[2017-10-13 14:42] Obaied commented on #299
@apo1981
Feel free to close the issue if it has been solved :)

[2017-10-13 14:44] #299 closed

[2017-10-13 14:47] uerceg commented on #299
👍

Glad it works, but be careful when it comes to this kind of usage. It can affect some other functionalities of the SDK. For example, if you want to enable reattributions through deep linking, you'll need to follow this part of the guide: https://github.com/adjust/android_sdk#deeplinking. In there, you can notice that scheme that opens your app gets delivered to certain activity's `onCreate` or

[2017-10-25 15:48] orrc opened #300 "Typo in ProGuard config: `LocaledList`"
This project's README misspells the Android class name [`LocaleList`][0] as `LocaledList`, which [a few people][1] have then copy-pasted into their projects.

https://github.com/adjust/android_sdk/blob/00bf23e947c14a14dff34dc4740e10f4dc189ed5/README.md#L167-L173

Does this mean that this part of the ProGuard configuration isn't actually required?

[0]:https://developer.android.com/reference/androi

[2017-10-25 16:19] nonelse commented on #300
Hi @orrc and thanks for spotting the typo. We will updated it shortly.
Regarding why does it still work, it could be that it's using the deprecated version, or proguard ignores the return value in the method signature, or something else, like version specific proguard and/or android OS quirks.
The reason to have the rule in the proguard file still makes sense and it's safer to keep it

[2017-11-20 09:33] jintoga opened #302 "Integrating with Google Tag Manager and Firebase"
Hello, Is there any documentation of how to integrate Adjust with GTM? I tried to find it myself but can't find anything. Can you please provide some resources or information?

[2017-11-20 09:37] uerceg commented on #302
Hi @jintoga

This is most probably question for our integration team. Feel free to drop them an email with this question to support@adjust.com and someone will reach you out about this thing.

Cheers!

[2017-11-20 09:41] jintoga commented on #302
Thanks!

[2017-11-20 09:41] #302 closed

[2017-11-28 09:21] indrek-rajamets opened #303 "Typings for AdjustBridge javascript code"
Please provide Typescript interfaces and types for the `AdjustConfig`, `Adjust` and `AdjustEvent`

[2017-12-06 15:59] leticiarod opened #304 "Adjust open App Store page with Android app installed in Chrome Browser"
Hi! I'm having problems to open an android app when using an adjust URL on Chrome browser with the deep-link parameter in it.

My encoded URL looks like this:

https://app.adjust.com/xxxxxx?deep_link=example%3A%2F%2FfisrtPath%2FsecondPath

The problem is that when i directly paste the above url on the chrome browser the app doesn't open and instead the app store page opens with the android app alr

[2017-12-06 16:01] uerceg commented on #304
Hi @leticiarod

I don't think that direct copy/paste of the URL into URL bar and trying to load the page works. The link is supposed to be clicked, so if you can maybe try to put this URL on some webpage, load it in Chrome and try to click onto it.

Let us know how did the test go.

Cheers

[2017-12-06 16:09] leticiarod commented on #304
Yes, i also did that and doesn't work.
I did like a local web page in which i put this html, like as follow:

<a href="https://app.adjust.com/xxxxxx?deep_link=example%3A%2F%2FfistPath%2FsecondPath">Test</a>

In chrome when i click on "Test" adjust redirects to the app store too.

Thank you!

[2017-12-06 16:13] uerceg commented on #304
🤔 Lemme just make sure that we think of same thing - when you say App Store, to you think of iOS App Store or Google Play Store?

[2017-12-06 16:16] leticiarod commented on #304
iOS App Store

redirects to this link: https://itunes.apple.com/app/idxxxxxxxxx?mt=z

[2017-12-06 16:18] uerceg commented on #304
👍

Are you sure that token you are using in your URL (`xxxxxx`) is tracker token for your Android app and not maybe some iOS app in the dashboard?

[2017-12-06 18:12] uerceg commented on #304
Do you see this happening all the time you try to click on your URL? Does it happen in both scenarios - when your app is not installed on test device and when it is installed or in just one of them?

[2017-12-06 19:14] leticiarod commented on #304
In the emulator occurs in both scenarios when the app is installed and when it isn't.

[2017-12-06 19:26] uerceg commented on #304
Would it be possible for you to try this from an actual device?

[2017-12-06 19:30] leticiarod commented on #304
Yes, also tried with a device, what I did was send this URL (
https://app.adjust.com/xxxxxx?deep_link=example%3A%2F%2FfirstPath%2FsecondPath) by email and happens the same thing, I get the same error.

[2017-12-06 19:32] uerceg commented on #304
Okay. Can you please send email to support@adjust.com and reference this question into it and provide us with full URL including your tracker token and then I’ll run the test as well to see what’s up?

[2017-12-06 20:56] leticiarod commented on #304
done

[2017-12-07 11:32] uerceg commented on #304
Thanks for the email.

Hm. I tried the link from Chrome browser and once app was not installed, it guided me to the Play Store and once I have downloaded the app and clicked the link, app got opened.

Really weird.

In my test HTML page, I added your link like this:

[code]

[2017-12-07 12:49] leticiarod commented on #304
mmm And what happens when the app is installed? The link opens the app too?

I copied/pasted that same URL and keeps given me that same error of "This site can't be reached"

Just in case, the straight parentheses are not necessary, right?

[2017-12-07 12:53] uerceg commented on #304
Yeah, right, this was just me obfuscating your info. Really really weird, I tried with several devices and it worked. Not sure if it makes any difference, I am running my tests with dummy page made on neocities.org website.

I will check with our backend team is there anything that can cause this.

[2017-12-07 13:08] leticiarod commented on #304
Ok, thank you !! I wait for your answer then! In the meantime I'll keep testing to try to find an answer!

[2017-12-07 13:27] leticiarod commented on #304
I just realized that your test is doing it with the app in production, im testing it with changes that are not in prod. : / yes yes, it would be nice to check with the backend team to get at least a clue of what's happening, to know under what circumstances Adjust gives that error ..

Also, could the problem have something to do with the APP ID? I mean, that the APP ID have to correspond with SCHE

[2017-12-07 15:28] leticiarod commented on #304
I think I found what my problem was. I found that my dashboard in Adjust only had the App that is in production.

I added another app, the app that is in testing stage the one that is modifying (this one is not in play store, clearly) but i keep receiving that error message:

This site can not be reached

I understand that the package name corresponds to the APP ID in adjust, right?
So in this new

[2017-12-07 18:39] leticiarod commented on #304
Sorry! I was passing in a wrong tracker ID!

After start passing a correct Tracker ID the error doesn't show anymore.

Thank you!

[2017-12-14 22:37] sreekanth627 opened #306 "Its Doubt. Not issue"
I have small doubt. Requesting to help me on this.
 New Adjust SDK 4.12.0 supports new Google Referrer API which is awesome. Google Referrer API provides 2 new things 1)click time 2)install begin time using the methods getReferrerClickTimestampSeconds and getInstallBeginTimestampSeconds. Does Adjust support these 2 values in the dashboard? if so kindly share me how to see these values in adjust da

[2017-12-14 22:51] uerceg commented on #306
Hi @sreekanth627

Currently, these values are not visible for your installs in the dashboard, but will rather be used behind the scenes to fight click injection in more efficient way. If this is something that will be available at some point to you, I'd need to check this with our product team. Once checked, will update you in here.

[2017-12-14 22:58] sreekanth627 commented on #306
Thank you very much @uerceg for your quick response.

Please let me know if you have something in pipeline to show these values in dashboard after having the word with your product team

[2017-12-15 07:48] uerceg commented on #306
Hi @sreekanth627

I have checked with our product team and feature request for this is already in their pipeline. Placeholders for `install_begin_time` and `click_time` will most probably be added to install and rejected attribution callbacks (still to be decided), but for now no dashboard visualisation plans. ETA is still not decided, but I guess Q1 2018 is realistic. This is not official ETA of

[2017-12-18 06:32] jngbng opened #307 "Does trackEvent automatically retry on network failure?"
I have a question on the internal behavior of Adjust.trackEvent.
On temporary network failure situation, does the sdk retry sending event by itself?
Or do I have to handle it using OnEventTrackingFailedListener?

[2017-12-18 06:35] uerceg commented on #307
@jngbng

This is automatically done by SDK, no need to do it on your own.

[2018-01-05 12:22] belalfyndiq opened #310 "Does deferred links only works on first time ever install?"
If the User uninstalled the App and Later on clicked on a link from adjust Deferred links does not work.
Is this the Expected behaviour from deferred links?

[2018-01-05 15:54] uerceg commented on #310
Hi @belalfyndiq

There are several things to have in mind when testing this use case (getting deferred deep link after reinstalling an app).

First thing to have in mind is that tracker URL you are clicking onto needs to contain different tracker (user needs to be reattributed from original tracker to which install was tied to). Just altering `deep_link` parameter content will not work if you have

[2018-01-05 15:59] belalfyndiq commented on #310
Thanks A lot this is more than clear.

[2018-01-05 18:27] uerceg commented on #310
👍 Do you have any further questions or can this issue be closed?

[2018-01-05 18:30] uerceg commented on #297
I will assume that all the questions have been answered in this issue and close the issue. Feel free to reopen it if needed.

[2018-01-05 18:30] #297 closed

[2018-01-05 18:32] belalfyndiq commented on #310
all good I will close the issue 👍

[2018-01-05 18:32] #310 closed

[2018-01-05 19:59] uerceg commented on #300
Hi @orrc

README has been updated (https://github.com/adjust/android_sdk/pull/311).

Thank you one more time for spotting this. 🍺

[2018-01-05 19:59] #300 closed

[2018-01-05 20:01] uerceg commented on #306
Hi @sreekanth627

Do you have any further questions/doubts or can we close this issue?

Cheers

[2018-01-05 20:01] uerceg commented on #307
@jngbng

Do you have any further questions or can we close this issue?

Cheers

[2018-01-06 01:18] jngbng commented on #307
Of course, yes. Thanks a lot.

2018. 1. 6. 오전 5:01에 "Uglješa Erceg" <notifications@github.com>님이 작성:

[2018-01-06 05:16] #307 closed

[2018-01-16 09:06] uerceg commented on #296
@jozuasijsling Done with https://github.com/adjust/android_sdk/pull/312.

Thank you one more time for the advice and sorry for a bit of delay! 🍺

[2018-01-16 09:06] #296 closed

[2018-01-16 09:24] uerceg commented on #306
Closing due to inactivity. Feel free to reopen the issue if you have any other questions or doubts.

Cheers

[2018-01-16 09:24] #306 closed

[2018-02-02 19:44] Jhonnybsg opened #314 "Null context when calling setSendingReferrersAsNotsent, version 4.12.1"
Im having trouble trying to get the version 4.12.1 to work.
It always breaks when calling the following method, from the AdjustInstance class:

private void setSendingReferrersAsNotSent(final Context context) {
        Runnable command = new Runnable() {
            public void run() {
                SharedPreferencesManager sharedPreferencesManager = new SharedPreferencesManager(context); // **t

[2018-02-02 19:45] uerceg commented on #314
Hi @Jhonnybsg

Can you reproduce this issue while testing? If yes, can you give us the steps you take to reproduce it?

[2018-02-02 19:58] Jhonnybsg commented on #314
The error happens right after I call **Adjust.onCreate(adjustConfig)** .
While debugging it, after that call, the setSendingReferrersNotSent is called and the context is null. Then it crashes showing that error:

 Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.SharedPreferences android.content.Context.getSharedPreferences(java.lang.String, int)' on a n

[2018-02-02 20:00] uerceg commented on #314
Thanks for the info. Can you tell us where do you create `AdjustConfig` object and where do you invoke `Adjust.onCreate` method - is it inside of `Application` class `onCreate` method?

[2018-02-02 20:03] Jhonnybsg commented on #314
Well, my App class extends **MuiltiDexApplication** . And I call the methods in the onCreate of the class.

[2018-02-02 20:05] uerceg commented on #314
Hm. Out of curiosity, if you pass `getApplicationContext()` instead of `this` in `AdjustConfig` constructor, do you still see the same error?

[2018-02-02 20:10] Jhonnybsg commented on #314
Yes, it happens. Exact same error.

[2018-02-02 20:25] uerceg commented on #314
Can you reproduce this error in new empty app project? We are investigating, but currently unable to reproduce issue with application(s) that use either `Application` or `MultiDexApplication` classes.

[2018-02-02 23:50] uerceg commented on #314
@Jhonnybsg

Also, can you check if you app token and environment have been properly set before you pass them to `AdjustConfig` constructor?

[2018-02-05 18:54] Jhonnybsg commented on #314
Ok, I will do it and return with a feedback as soon as I can.

[2018-02-06 13:45] maarcooliveira opened #315 "Out of memory error on SharedPreferencesManager.saveRawReferrerArray and getRawReferrerArray"
We are using the sdk on version 4.12.0, and our crashlytics started reporting the two crashes below:

[code]

and

[code]
Any idea on what could be causing that?
It happened about 230 times on the last two weeks, and we were not able to reproduce it so far.

[2018-02-06 13:49] uerceg commented on #315
Hi @maarcooliveira

We haven't had any similar reports like this so far. We are investigating and will keep you posted in here.

[2018-02-06 14:05] uerceg commented on #315
@maarcooliveira

Any regularity in OS versions / manufacturer on devices from which you have seen the crashes?

[2018-02-06 14:46] maarcooliveira commented on #315
@uerceg
No, most of devices are from Samsung, Motorola and LG, but it matches our user base. As for OS, it happens on all android versions, from 4.4.4 to 7.1.1.

[2018-02-06 20:52] Jhonnybsg commented on #314
So I made a test on a new Project and a got the same error. Actually it also shows the following error message before the one I mentioned before: Malformed App Token ...
I don't know why but the app with the 4.11.1 version doesn't crash, just show that error message. But when I switch it to 4.12.1 it crashes and shows the error mentioned before, with null context.

I've checked and we are using th